.ag-fresh .ag-root {
    border: 1px solid #808080;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ag-fresh .ag-cell {
    padding: 2px;
}

.ag-fresh .ag-cell-focus {
    border: 1px solid #a9a9a9;
}

.ag-fresh .ag-cell-no-focus {
    border-right: 1px dotted #808080;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.ag-fresh .ag-pinned-header {
    border-bottom: 1px solid #808080;
}

.ag-fresh .ag-header-container {
    border-bottom: 1px solid #808080;
}

.ag-fresh .ag-header-cell {
    border-right: 1px solid #808080;
}

.ag-fresh .ag-header-group-cell {
    border-right: 1px solid #808080;
}

.ag-fresh .ag-header-group-cell-with-group {
    border-bottom: 1px solid #808080;
}

.ag-fresh .ag-header-cell-label {
    padding: 4px 2px 4px 2px;
}

.ag-fresh .ag-header-cell-text {
    padding-left: 2px;
}

.ag-fresh .ag-header-group-cell-label {
    padding: 4px;
    font-weight: bold;
}

.ag-fresh .ag-header-group-text {
    margin-right: 2px;
}

.ag-fresh .ag-header-cell-menu-button {
    padding: 2px;
    margin-top: 4px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; /* When using bootstrap, box-sizing was set to 'border-box' */
}

    .ag-fresh .ag-header-cell-menu-button:hover {
        border: 1px solid #000;
    }

.ag-fresh .ag-header-icon {
    color: #777;
    margin-right:5px;
    margin-left:5px;
}

.ag-fresh .ag-dark .ag-header-expand-icon:hover {
    cursor: pointer;
}

.ag-fresh .ag-row-odd {
    /*background: repeating-linear-gradient(45deg,rgba(127,127,127,0.2),rgba(127,127,127,0.2) 1px,rgba(127,127,127,0.0) 1px,rgba(127,127,127,0.0) 2px) !important;*/
    background-color:rgba(127,127,127,0.1);
}

.ag-fresh .ag-row-even {
    opacity: 1;
}

.ag-fresh .ag-loading-center {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

.ag-fresh .ag-group-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-fresh .ag-footer-cell-entire-row {
    background-color: #aaa;
    padding: 4px;
}

.ag-fresh .ag-group-cell {
    font-style: italic;
}

.ag-fresh .ag-group-expand {
    padding-right: 2px;
}

.ag-fresh .ag-footer-cell {
    font-style: italic;
}

.ag-fresh .ag-filter-checkbox {
    position: relative;
    top: 2px;
    left: 2px;
}

.ag-fresh .ag-filter-header-container {
    border-bottom: 1px solid #d3d3d3;
}

.ag-fresh .ag-filter-apply-panel {
    border-top: 1px solid #d3d3d3;
    padding: 2px;
}

.ag-fresh .ag-filter {
    border: 1px solid #000;
    background-color: #f0f0f0;
}

.ag-fresh .ag-filter-value {
    margin-left: 4px;
}

.ag-fresh .ag-selection-checkbox {
    margin-left: 4px;
}

.ag-fresh .ag-paging-panel {
    padding: 4px;
}

.ag-fresh .ag-paging-button {
    margin-left: 4px;
    margin-right: 4px;
}

.ag-fresh .ag-paging-row-summary-panel {
    display: inline-block;
    width: 300px;
}

.ag-fresh .ag-column-not-visible {
    opacity: 0.75;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
}

.ag-fresh .ag-not-dragging {
    border: 1px solid transparent;
}

.ag-fresh .ag-drop-target-above {
    border-top: 5px solid #a9a9a9;
}

.ag-fresh .ag-drop-target-below {
    border-bottom: 5px solid #a9a9a9;
}

.ag-fresh .ag-dragging {
    border: 1px dotted #a9a9a9;
}

.ag-fresh .ag-list-item-selected {
    color: #f0f0f0;
}

.ag-fresh .ag-list-item-not-selected {
    font-style: italic;
    color: #a0a0a0;
}

.ag-fresh .ag-tool-panel-container {
    background-color: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    padding: 4px;
}

.ag-fresh .ag-list-selection {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ag-fresh .ag-popup-list .ag-list-item:hover {
    background-color: #add8e6;
}

.ag-fresh .ag-visible-icons {
    padding-left: 2px;
    padding-right: 2px;
}
