<!--CalHeatMapKPI-->

<div id='{{KPIID}}' class='kpiCmnCls' ng-controller="DayHeatMapController">

    <style>
        .cal-heatmap-container .graph-label {
            fill: {{ATClr}};
            font-size: 10px;
        }
        
        .ch-tooltip-rep .ch-tooltip {
            visibility: visible !important
        }
        
        .leg-day-heat {
            margin-top: -7px !important;
            width: inherit;
            min-width: 472px;
            display: block;
        }
        
        .leg-day-heat span {
            text-align: center;
            font-size: 11px;
            width: 50px;
            display: block;
            overflow: hiddden;
            height: 20px;
        }
        
        .cal-heatmap-container {
            min-width: 455px;
        }
		.day-heat-cont {
			OVERFLOW: AUTO;
			padding:0 30px;
		}
    </style>

    <div css-fill-day-heat="ATClr" class="ng-hide">
    </div>
    <div ng-hide="isLoadCmpltd" page-loader-spin ng-class="{ngHide:IsShowError== true}"></div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div page-reorder ng-show="isReorderData"></div>
    <div class="kpiContainer  {{isLoadCmpltd? " " : "BlurClass "}}">
        <div class='frontPanel kpi-panel'>
            <div class="kpi-heading" ng-if="IsZoom==false">

                <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
                <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>


            </div>

            <div class="kpi-content" ng-class="{'modalZoom' : IsZoom}">
                <div class="parentC" style="height: inherit;">
                    <div class='swContainr  clearfix'>

                        <div class='InVsComp swatchGrp '>
                            <div class="input-group" ng-show="prioritySwatch.length>0">
                               
                                <div class="input-group-btn" uib-dropdown ng-show="prioritySwatch.length>0">
                                    <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                       {{PriorityType}} <i class="fa fa-sort" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li ng-repeat="swatch in prioritySwatch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="changePriority(swatch.value)" sibs>{{swatch.name| titleCase}}</a></li>

                                    </ul>
                                </div>
								<span class="input-group-addon" ng-show="prioritySwatch.length>0">     | <i class="fa fa-object-group" aria-hidden="true"></i> </span>
                                <span class="input-group-addon {{ATClr}}  theme-text" ng-show="prioritySwatch.length>0">
        <div style="float:left" angular-multi-select input-model="CategoryObj" output-model="CategoryObjOp" selection-mode="single" button-label="<[ name ]>"  search-property="name" item-label="<[ name ]>" button-template="angular-multi-select-btn-data.htm" tick-property="ticked" on-close="fClose()"></div>
      </span>
                                <!-- /btn-group -->
                                <div class="input-group-btn  action-grp" uib-dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                        <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                        <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                        <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                                    </ul>
                                </div>
                                <!-- /btn-group -->

                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div style="height:calc(100% - 40px); width:100%; padding:00px 0px 10px 10px;" >
                        <div id="cal-heatmap-{{KPIID}}" style="height:inherit; width:100%;  " class="CH{{KPIID}}{{IsZoom}} day-heat-cont"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>