<!--General KPI-->
<style>
    .genkpi .c3-chart-arc text {
        display: none;
    }
    
    .c3-chart-arcs-title {
        font-size: 15px !important;
        font-weight: normal;
    }
    
    .genkpi .c3-legend-item {
        font-size: 12px;
        display: none;
    }
</style>
<div id='{{kpiType}}' class='kpiType2 kpiCmnCls genkpi' ng-controller="ScoreboardController" ng-app="graphApp">
    <div ng-hide="IsZoom">
        <div ng-hide="isGeneralLoad" page-loader-spin ng-class="{ngHide:IsShowError== true}"></div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
        </div>
        <div ng-show="isReorderData" page-loader-blank>

        </div>
        <div class="kpiContainer {{isGeneralLoad? " " : " blurclass "}}" ng-class="{blurclass: isGeneralLoad == true}" >
            <div class='frontPanel kpi-panel'>
                <div class="kpi-heading swatchGrp  " ng-show="kpiname">

                    <div class="input-group" style="display:block; max-width:100%">
                        
						 <div class="input-group-addon kpi-title sc-btn-first" >
       <div uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname"> {{kpiname}} </div>
      </div>
						<div class="input-group-btn" uib-dropdown >
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                            <i class="fa fa-cogs" aria-hidden="true"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>

                            <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                            <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                        </ul>
						 </div>
                    </div>


                </div>
                <div class="kpi-content" ng-if="!isCircle" ng-class="{'modalZoom' : IsZoom}">

                    <div class="text-center dis-table">
                        <div class="dis-table-cell ">
                            <uspl class=" GeneravVal" style="width: 100%;" ng-click="KPIModalFun()">
                                <span class="{{ATClr}} theme-text"><i class="fa {{IconValue}}"></i></span>
                                <span class="RED">{{GenericValue}}</span>
                            </uspl>
                        </div>

                    </div>
                    <div class="col-sm-8 Generalclass">
                    </div>
                </div>
                <div class="kpi-content" style="min-height:140px !important" ng-if="isCircle" ng-class="{'modalZoom' : IsZoom}">

                    <div style="position:relative; height:140px;  padding-bottom:10px; overflow:hidden">
                        <div class="text-center dis-table">
                            <div class="dis-table-cell ">
                                <div class="RequestInfoOpenTime RequestInfoOpenTime_{{KPIID}}" style="width:100%; max-height:150px; margin: 0 auto; "></div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    
	<div class="getUpdate" ng-show="IS_PeriodicCheck == 'Y'"> 
		<div class="getUpdate" ng-show="ShowTimer">
		<span class="getUpdateLabel"><i class="fa fa-refresh" aria-hidden="true"></i> <span ng-if="countdown <= 9">0</span>{{countdown}} seconds </span>	  &nbsp;
	   <a  class="label label-danger ng-hide"  ng-click="startSCTimer()">start</a>
	   <a class="label label-danger ng-hide"  ng-click="stopSCTimer()">stop</a>      </div>
	  </div>
  </div>
</div>