<!--Pare To KPI-->
<div id='{{kpiType}}' class='kpiType2 kpiCmnCls' ng-controller="ParetoChartController" ng-app="graphApp">
    <div page-loader-spin ng-hide="isLoadCmpltds" ng-class="{ngHide:IsShowError== true}"></div>
    <div page-reorder ng-show="isReorderData"></div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div class=" {{isLoadCmpltd?'' : 'blurclass'}}">
        <div class='frontPanel kpi-panel'>
            <div class="kpi-heading" ng-if="IsZoom==false && IsRedrawZoom==false">
                <div class='pull-left kpi-title'>{{kpiname}}</div>

                <div class="KPIDvder {{ATClr}} theme-box" ng-if="IsZoom==false && IsRedrawZoom==false"></div>
            </div>
            <div class="kpi-content" ng-class="{'modalZoom' : IsZoom}">
                <div ng-show="toggle1" class="alert alert-warning alert-center" style="height: auto; text-align: center">
                    <span>{{translation.KPI_COM_ERR_RET}}</span>
                </div>
                <div ng-show="toggle2" class="alert alert-warning alert-center" style="height: auto; text-align: center">
                    <span>{{translation.KPI_COM_ERR_DNA}} </span>
                </div>
                <div ng-show="datatoshow" style="height:inherit">
                    <div class='swContainr  swatchGrp  clearfix'>

                        <div class="input-group" ng-class="{sm:prioritySwatch.length>0}">
                           
                            <div class="input-group-btn" uib-dropdown ng-show="prioritySwatch.length>0">
                                <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    {{selectPriorityName}} <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li ng-repeat="swatch in prioritySwatch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="plotChart(swatch.value)" sibs>{{swatch.name| titleCase}}</a></li>

                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <div class="input-group-btn  action-grp" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                    <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                    <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}} </a></li>

                                </ul>
                            </div>
                            <!-- /btn-group -->

                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class='  clearfix' ng-show="isTimeChart">
                      
                    </div>
                    <div class='{{KPIID}}ParetoChrt ParetoChrt c3Chart {{KPIIDZoom}}ParetoChrt topmargn'></div>
                    <div class='ParetoChrt bgParetoChrt' ng-show="isSpinnerChanged"></div>
                    <div class="btn redrawbtn {{ATClr}} theme-box" ng-click="redraw()" ng-show="isSpinnerChanged">{{translation.KPI_PTO_REDRW}}</div>
                    <div class='paretoContainer' ng-show="isTimeSpentKPI">
                        {{translation.KPI_PTO_TOP}}
                        <input type="number" class="form-control" ng-model="numberVal" style="width:40px;display:inline-block" /> {{whichType}} {{translation.KPI_PTO_ACC_FOR}}
                        <input type="number" class="form-control" style="width:40px;display:inline-block" ng-model="percVal" /> % of <span style='text-transform: lowercase;'>{{chosenUnit}}</span>
                    </div>
                    <div class='paretoContainer' ng-show="!isTimeSpentKPI">
                        {{translation.KPI_PTO_TOP}}
                        <input type="number" class="form-control" ng-model="numberValNew" ng-change="changeVal(numberValNew)" style="width:40px;display:inline-block" /> {{whichType}}(s) {{translation.KPI_PTO_ACC_WTH}} {{subKPIName}}
                    </div>
                    <div ng-if="IsZoom==true || IsRedrawZoom==true">
                        <table class="zoomTableData">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th ng-repeat="rowItem in chartData">
                                        {{rowItem.PriorityMonthDate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{RowValue1}}</td>
                                    <td ng-repeat="rowItem in RowData1" align="right">
                                        {{rowItem.RowVal1}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{RowValue2}}</td>
                                    <td ng-repeat="rowItem in RowData2" align="right">
                                        {{rowItem.RowVal2 }}
                                    </td>
                                </tr>
                                <tr ng-hide="isThirdRow">
                                    <td>{{RowValue3}}</td>
                                    <td ng-repeat="rowItem in RowData3" align="right">
                                        {{rowItem.RowVal3| number : 2}}
                                    </td>
                                </tr>
                                <!--<tr>
							<td> Completion Rate(%)</td>
							<td ng-repeat="rowItem in chartData" align="right">
								{{(rowItem.Completed *100)/(rowItem.Backlog+rowItem.Incoming) |  number : 2}}%
							</td>
						</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>