<style>
    .h80p {
        height: 80%
    }
    
    .h100p {
        height: 100%
    }
</style>
<!--Response Resolution Trend KPI-->
<div id="{{KPIID}}" class='kpiType1 kpiCmnCls' ng-controller="ResponseResolutionTrendController" ng-model="WholeData">
    <div ng-hide="IsZoom">
        <div page-loader-spin ng-hide="isRespReslnLoadCmpltd" ng-class="{ngHide:IsShowError== true}" ></div>
    </div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div page-reorder ng-show="isReorderData"></div>
    <div class="kpi-panel backPanel {{isRespReslnLoadCmpltd? " " : 'BlurClass'}}" ng-show="SummaryChartToggle">

        <div class=" kpi-heading" ng-if="IsZoom==false"> 
            <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
            <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>




        </div>
        <div class="kpi-content">
            <div style="position:relative ;   height: calc(100% - 40px);">
                <div class='swContainr swatchGrp clearfix'>

                    <div class="input-group sm">
                     
                        <div class="input-group-btn" uib-dropdown ng-if="IsWithSLA != 0">
                            <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                {{selectPriorityName}} <i class="fa fa-sort" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="swatch in criteriaswtch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="SwatchChangeRespResln(swatch.value,swatch.monthName,'Criteria')" sibs>{{swatch.name| titleCase}}</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                        <div class="input-group-btn  action-grp" uib-dropdown ng-show="isRespReslnLoadCmpltd">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                <i class="fa fa-cogs" aria-hidden="true"></i> Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li><a ng-click="makeFlip()" title="{{translation.KPI_COM_SEE_TREND}}"><i class='fa fa-bar-chart iconMD'></i>{{translation.KPI_COM_SEE_TREND}} </a></li>
                                <li><a ng-click="openWidgetModal('lg',1,KPIID,KpiGroupType,KpiGroupID,KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}}  </a></li>
                                <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i>{{translation.KPI_COM_DEL_KPI}}  </a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->

                    </div>
                    <!-- /input-group -->

                </div>

                <div class="dis-flex " ng-model="priorityData" ng-show="summaryTableToggle" ng-class="{h80p:IsWithSLA==1,h100p:IsWithSLA==0,h80p:IsWithSLA==2}" style="padding: 05px 0 0 0;">
                    <div class='dis-flex-item'>
                        <div class='dis-flex-item-child'>
                            <h5 class="KPITblL"></h5>
                        </div>
                        <div class='dis-flex-item-child '>
                            <h4 class="KPITblR BLACK">{{translation.KPI_RRP_VALUE}}</h4>
                        </div>
                        <div class='dis-flex-item-child ' ng-if="IsWithSLA == 1">
                            <h4 class="KPITblR"><small>{{translation.KPI_RRP_SLA}}</small></h4>
                        </div>
                        <div class='dis-flex-item-child'>
                            <h4 class="KPITblR BLACK">{{translation.KPI_RRP_REQ}}</h4>
                        </div>
                    </div>
                    <div class='dis-flex-item ht{{priorityData.length}}' ng-repeat="priorities in priorityData">
                        <div class='dis-flex-item-child'>
                            <h5 class="KPITblL">{{priorities.Request_Priority | titleCase}}</h5>
                        </div>
                        <div class='dis-flex-item-child'>
                            <h4 class="KPITblR  {{priorities.PriorityAvg =='0.00' ? 'GREY' : priorities.Colour}} as{{priorities.PriorityAvg }}" hrs-to-days="priorities.PriorityAvg"></h4>
                        </div>
                        <div class='dis-flex-item-child ' ng-if="IsWithSLA == 1">

                            <h4 class="KPITblR"><small hrs-to--i-days="" > {{priorities.SLI}}{{priorities.SLIUnit|lowercase}}.  </small></h4>
                        </div>
                        <div class='dis-flex-item-child  linkvalue' ng-hide="priorities.PriorityCount == 0">
                            <h4 class="KPITblR BLACK">
                            <uspl style="width: 100%;" ng-click="DrillDownRespResln('lg',KPIID,priorities.Request_Priority,0,selectCriteria)">{{priorities.PriorityCount}}</uspl>
                        </h4>
                        </div>
                        <div class='dis-flex-item-child' ng-show="priorities.PriorityCount == 0">
                            <h4 class="KPITblR GREY">{{priorities.PriorityCount}}</h4>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class='frontPanel kpi-panel ' ng-hide="SummaryChartToggle">
        <div class="kpi-heading" ng-hide="IsZoom">

            <div class='pull-left kpi-title'>{{kpiname}}</div>

        </div>
        <div class="kpi-content" ng-class="{'modalZoom' : IsZoom}">
            <div ng-show="toggle1" class="alert alert-warning alert-center" style="height: auto; text-align: center">
                <span>{{translation.KPI_COM_ERR_RET}}</span>
            </div>
            <div style="height:inherit">
                <div class='swContainr swatchGrp clearfix'>

                    <div class="input-group">
                      
                        <div class="input-group-btn" uib-dropdown ng-if="IsWithSLA == 1 || IsWithSLA == 2">
                            <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                {{selectPriorityName}} <i class="fa fa-sort" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="swatch in criteriaswtch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="SwatchChangeRespResln(swatch.value,swatch.monthName,'Criteria')" sibs>{{swatch.name| titleCase}}</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->


                        <div class="input-group-btn  action-grp" uib-dropdown ng-show="isRespReslnLoadCmpltd">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                <i class="fa fa-cogs" aria-hidden="true"></i> Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                <li><a ng-click="makeFlip()" title="{{translation.KPI_COM_SEE_SUMRY}}" ng-show="showflipIcon"><i class='fa fa-table iconMD'></i> See Summary</a> </li>
                                <li><a ng-click="openWidgetModal('lg',1,KPIID,KpiGroupType,KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}}  </a></li>
                                <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i>{{translation.KPI_COM_DEL_KPI}}  </a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->

                    </div>
                </div>
                <div class='swContainr swatchGrp clearfix'>
                    <div class="input-group sm">
					<div class="input-group-btn" uib-dropdown ng-if="IsWithSLA == 1 || IsWithSLA == 2">
                            <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                {{selectPSLAName}} <i class="fa fa-sort" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="swatch in prioritySwatch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="SwatchChangeRespResln(swatch.value,'','Request_Priority')" sibs>{{swatch.name| titleCase}}</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                    </div>
                    <!-- /input-group -->




                </div>


                <div class='incidentVal col-md-12 topmarginRes' ng-show="summaryTableToggle">
                    <h4 class='ChrtMsg'>{{monthData.PriorityAvg|number:2}}{{monthData.SLIUnit| lowercase}}<small>({{monthData.SLI}}{{monthData.SLIUnit|lowercase}})</small></h4>
                    <h5 class='ChrtMsg'>{{translation.KPI_RRP_FOR}}</h5>
                    <h4 class="ChrtMsg linkvalue" ng-click="DrillDownRespResln('lg',KPIID,selectPriority,0,selectCriteria)" ng-hide="monthData.PriorityCount == 0">
                        <uspl>{{monthData.PriorityCount}}</uspl>
                    </h4>
                    <h4 class="ChrtMsg GREYn" ng-hide="monthData.PriorityCount != 0">{{monthData.PriorityCount}}</h4>
                    <h5>{{translation.KPI_RRP_REQ}}</h5>
                </div>

                <div class="{{KPIID}}RespReslnChrt RespReslnChrt c3Chart {{KPIIDZoom}}RespReslnChrt" ng-show="summaryTableToggle" ng-init="initialChart(selectPriority[0])"></div>
                <div ng-if="IsZoom==true">
                    <table class="zoomTableData">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th ng-repeat="rowItem in RespReslnitems">
                                    {{rowItem.PriorityMonthDate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{translation.KPI_RRP_TOT_REQ}}</td>
                                <td ng-repeat="rowItem in RespReslnitems" align="right">
                                    {{rowItem.PriorityCount}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{translation.KPI_RRP_AVG_RES_TIM}}</td>
                                <td ng-repeat="rowItem in RespReslnitems" align="right">
                                    {{rowItem.PriorityAvg | convertDDHHMM : "m"}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
