<div class="container-settings" ng-controller="BaseKPIColMapController">

    <div settings-menu></div>
    <div class="jumbotron-content" style="min-height:60px;">
        <div class="jumbotron-title">
            <h3 class="testClass " style="padding-left:2%"> Widget Column  Settings  <small><strong>{{onSelectedName}} </strong></small></h3>

        </div>



    </div>
    <div class="container-fluid clear-fix" >

        <div class="row">
            <div class="col-sm-4 col-md-3 ">
<div class="panel panel-default ng-hide">
  <div class="panel-body">
   
                <div class="input-group">
                    
                    <input id="Search_Value" type="text" value="" class="form-control" ng-model="searchval" uib-typeahead="suggesstion for suggesstion in getsuggesstion($viewValue)" typeahead-min-length="1" typeahead-loading="LoadingData" typeahead-on-select="onSelect($item)" typeahead-no-results="noResults" required />
					<span class="input-group-addon"> <i class="fa fa-search" aria-hidden="true"></i></span>
				</div>
                <div>
                    <i ng-show="LoadingData"></i>
                    <div ng-show="noResults" style="color: red; padding-left: 0;">
                        {{translation.BAS_KPI_ERR}}
                    </div>
                </div>
				
  </div>
</div>
                <ul class="list-group">
                    <a class="list-group-item" ng-repeat="WidgetItem in WidgetObj"   ng-click="onSelect(WidgetItem.name)"  ng-class="{active:WidgetItem.name  ==  onSelectedName}"> {{WidgetItem.name}}</a>
                </ul>

            </div>
            <div class="col-sm-8 col-md-9">
                <div>

                    <div class="row">
                        <div ng-show="showsort">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title addOpacity {{ATClr}}">{{translation.BAS_KPI_COL_SHOW}} </h3>
                                    </div>
                                    <div class="panel-body nopadding">
                                        <div ui-sortable="sortableOptions" class="apps-container {{ATClr}} addOpacity" ng-model="list1">
                                            <div class="app " ng-model="app" ng-repeat="app in list1"> <i class="fa fa-arrows-alt" aria-hidden="true"></i> {{app.DispColName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title addOpacity {{ATClr}}">{{translation.BAS_KPI_COL_NOTSHOW}}  </h3>
                                    </div>
                                    <div class="panel-body nopadding">
                                        <div ui-sortable="sortableOptions" class="apps-container {{ATClr}} addOpacity" ng-model="list2">
                                            <div class="app " ng-model="app" ng-repeat="app in list2"> <i class="fa fa-arrows-alt" aria-hidden="true"></i> {{app.DispColName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 clearfix">
                        <div style="padding: 12px 0;text-align:right;bottom:0px">
                            <div class="btn {{ATClr}} theme-box " ng-click="save()">{{translation.BTN_SAV_CHANG}}</div>
                            <div class="btn {{ATClr}} theme-text" ng-click="reset()" style="font-weight:400;">{{translation.BTN_RESET}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="bgLoading" ng-show="isFetchingData">
    </div>
    <div class="msg" ng-show="isFetchingData"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;&nbsp;{{translation.MSG_SAVING_1}}</div>
</div>