<div class="container-settings" ng-controller="MasterColMapController">
 <div settings-menu></div>
 <div class="jumbotron-content" style="min-height:55px;">
        <div class="jumbotron-title" style="min-height:60px; margin-bottom:10px;">
            <h3 class="testClass " style="padding-left:2% ; float:left"> Master Column  Settings  <small><strong>{{onSelectedName}} </strong></small></h3>
<div style="padding: 12px 0;text-align:right;bottom:0px ; float:right">
            <div class="btn {{ATClr}} theme-box " ng-click="saveMasterCol()">{{translation.BTN_SAV_CHANG}}</div>
            <div class="btn {{ATClr}} theme-text" ng-click="reset()" style="font-weight:400;">{{translation.BTN_RESET}}</div>
        </div>
        </div>



    </div>
    <div class="container-fluid clear-fix" >
    <div class="row" style=" width:100%;padding:0px 0 15px 0; margin:0; ">
        <div id="masterTable" style=" width:100%;background-color:#ffffff;" class="hot handsontable"></div>
    </div>
    <div class="col-xs-12 clearfix">
        
    </div>
</div></div>