<div ng-hide="isRetDatas" page-loader-spin style="height: 100%;position: absolute;width: 100%;">
</div>
<div ng-intro-options="IntroOptions" ng-intro-method="WalkThroughDashSetTrig" ng-intro-autostart="ShouldAutoStart">

    <div class="modal-header {{TIClr}}" id="IntroTitle">
        <h3 class="modal-title" ng-if="HeaderName == 'ADD_DASH'">{{translation.ADD_DASH}}</h3>
        <h3 class="modal-title" ng-if="HeaderName == 'MOD_DASH'">{{translation.MOD_DASH}}</h3>
        <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
            <i class="fa fa-close {{ATClr}} theme-text" aria-hidden="true"></i>
        </div>
        <div class="angularClose iconMD {{ATClr}} theme-text" ng-click="WalkThroughDashSet()"><i class="fa fa-question-circle"></i></div>

    </div>
    <div class="HeaderContentDivider {{ATClr}} theme-box"></div>
    <div class="modal-body {{TClrs}}">


        <div style="margin:0 auto;float: none;display: block;width: 100%;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active': isDMVActive == 1} "><a ng-click="isDMVActive = 1">Default Settings</a></li>
                <li role="presentation" ng-class="{'active': isDMVActive == 2} "><a ng-click="isDMVActive = 2">Display Settings</a></li>
            </ul>
        </div>


        <div class="clearfix"></div>
        <div class="container-fluid" ng-app="queryBuildL" ng-hide="isDMVActive == 2">
            <div class="setRow">
                <fieldset class="DashNameSet">
                    <legend class="{{ATClr}} theme-text lgndT">{{translation.DASH_NAME_LABEL}}</legend>
                    <div class="row" style="display:flex;align-items:center">
                        <div class="col-sm-3 col-md-2" ng-click="chooseIconModal('lg')">
                            <i class="fa {{chosenIconText}} {{ATClr}} theme-text chooseIconFont dashbIcon" id="IntroDI"></i>
                            <i class="fa fa-pencil fa-2x" style="left: 70px; top: 40px; color: rgb(130, 130, 130); font-size: 20pt; position: absolute;text-shadow:0 2px 0 rgba(127, 127, 127, 0.30), 0 -1px 0 rgba(127, 127, 127, 0.70);"></i>
                        </div>
                        <div class="col-sm-9 col-md-10" id="IntroDN">
                            <input class="form-control input-sm" type="text" ng-model="dashBoardName" placeholder="Dashboard Name" />
							<div class="forked ng-hide" ><i class="fa fa-clone" aria-hidden="true"></i> Forked from <a ng-href="#/dashboard/DASH00112" target="_blank"> DASH00112 </a></div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="PrivacySet">
                    <legend class="{{ATClr}} theme-text lgndT">{{translation.PRIV_SETT}}</legend>
					  <div class="row" style="align-items:center">
						<div class="col-sm-8">
						<label> Share With </label>
						<div class="row" style="align-items:center">
                        <div ng-disabled='IsCreator==0' class="col-sm-4">
                            <label class="col-sm-12" style="padding-left:0px">
                                <input type="radio" value="IsPrivate" ng-model="PrivacySetting" name="rating" class="radio col-sm-1" ng-change="ChangePrivacySetting(PrivacySetting,'IsPrivate')"> {{translation.PRIV_SETT_PRIV}}
                            </label>
                        </div>
                        <div ng-disabled='IsCreator==0' class="col-sm-4">
                            <label class="col-sm-12">
                                <input type="radio" value="IsPublic" ng-model="PrivacySetting" name="rating" class="radio col-sm-1" ng-change="ChangePrivacySetting(PrivacySetting,'IsPublic')"> {{translation.PRIV_SETT_PUBL}}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-12">
                                <input type="radio" value="IsShared" ng-model="PrivacySetting" name="rating" class="radio col-sm-1" ng-change="ChangePrivacySetting(PrivacySetting,'IsShared')"> {{translation.PRIV_SETT_SHAR}}
                            </label>
                        </div>
                    </div>
						
						</div>
						<div class="col-sm-4 ng-hide"> <label> Provide Access with shared</label><br>
						<label>
							<input type="radio" ng-model="ProvideAccessSettings" value="true">
							 Yes
						  </label>
						  <label>
							<input type="radio" ng-model="ProvideAccessSettings" value="no">
							 No
						  </label>
						</div>
					  </div>
                    
                    <div class="row" style="align-items:center;padding:15px;margin-left:0px">
                        <div class="col-sm-12" ng-show="IsInPrivate">
                            <label>{{translation.PRIV_SETT_PRIV_LABE}}</label>
                        </div>
                        <div class="col-sm-12" ng-show="IsInPublic">
                            <label> {{translation.PRIV_SETT_PUBL_LABE}} </label>
                        </div>
                        <div class="col-sm-12" ng-show="IsInShared">
                            <label> {{translation.PRIV_SETT_SHAR_LABE}}</label>
                            <tags-input ng-model="SharedUser" display-property="name" template="tag-template" placeholder="Add User to Share the Dashboard With">
                                <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                            </tags-input>
                        </div>
                        <script type="text/ng-template" id="tag-template">
                            <div class="tag-template">
                                <div class="right-panel">
                                    <span>{{$getDisplayText()}}</span>
                                    <a class="remove-button" style="color:white" ng-click="$removeTag()">&#10006;</a>
                                </div>
                            </div>
                        </script>
                    </div>
                </fieldset>
                <fieldset id="IntroF" class="DashFilterSet">
                    <legend class="{{ATClr}} theme-text lgndT" ng-bind-html="translation.DASH_FILT_LABE_1"> </legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ng-repeat="rowsQuery in TableQuery1.Keys" style="margin: 10px 0;" class="queryRow">
                                <div class="row" ng-controller="FilterRowController" ng-init="Inialize(rowsQuery,TableQuery1.values)">
                                    <div class="col-sm-1 col-md-1">
                                        <div class="btn {{ATClr}} theme-box minus boxShadow pull-right" ng-show="TableQuery1.Keys.length>1" style="margin-left:10px;" ng-click="DeleteRow($index)"><i class="fa fa-minus"></i></div>
                                        <div class="btn {{ATClr}} theme-box add boxShadow pull-right" ng-show="$last" ng-click="addRow($index)"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div angular-multi-select input-model="requestObj" output-model="requestObjOp" selection-mode="single" button-label="<[ name ]>" item-label="<[ name ]>" button-template="angular-multi-select-btn-data.htm" tick-property="ticked" on-close="fClose()"></div>
                                    </div>
                                    <div class="col-sm-9 col-md-9">
                                        <div class="chosenFilterContainer col-sm-11" ng-click="chooseFilterModal('lg',requestObjOp[0].id,dynamicData)">
                                            <div ng-click="$event.stopPropagation()" ng-repeat="item in dynamicData" class="tokenize {{ATClr}} theme-box FilterData">
                                                {{item}}<span ng-click="removeTokenize(item);$event.stopPropagation()" class="tokenDeleteIcon pull-right txtTransform"></span>
                                            </div>
                                            <div class="tokenize noFilterMsg">
                                                <span class="pull-right txtTransform">{{translation.DASH_FILT_LABE_2}}</span>
                                            </div>
                                        </div>
                                        <div class="demoSearch col-sm-1" ng-click="chooseFilterModal('lg',requestObjOp[0].id,dynamicData)">
                                            <div ng-disabled="isdisableFilter" class="btn {{ATClr}} theme-box boxShadow"><i class="fa fa-pencil"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="IntroP" class="DashPeriodSet">
                    <legend class="{{ATClr}} theme-text lgndT"> {{translation.DASH_FILT_LABE_3}}</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>
                                <input type="radio" name="response" value="IsIndays" ng-model="IsIndays" ng-change="ChangeRadiobtn(IsIndays,IsIndays)" />
                                <span> {{translation.DASH_DAYS_01}}</span> </label>
                        </div>
                        <div class="col-sm-12 {{BlurClass}}">
                            <span class="col-sm-6">  {{translation.DASH_DAYS_02}}&nbsp;&nbsp;<input type="number" ng-model="NumbOfDays" />&nbsp;&nbsp;  {{translation.DASH_DAYS_03}}</span>
                            <div class="radiocolorhd1" ng-show="IsRadios"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>
                                <input type="radio" name="response" value="IsNotIndays" ng-model="IsIndays" ng-change="ChangeRadiobtn(IsIndays,IsNotIndays)" />
                                <span>{{translation.DASH_DAYS_04}}</span></label>
                        </div>
                        <div class="col-sm-12 {{BlurClas}}">
                            <div class="col-sm-6">
                                <label for="startdt">{{translation.DASH_DAYS_05}} : </label>
                                <div class="input-group ">
                                    <input type="text" class="form-control nopadding" uib-datepicker-popup="dd-MMM-yyyy" ng-model="startdt" is-open="startOpened" max-date="enddt" close-text="Close" ng-readonly='true' />
                                    <span class="input-group-btn">
										<button  class="btn btn-default calendarBtn" ng-click="openCalendarStart()">
											<i class="fa fa-calendar"></i>
										</button>
									</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="enddt">{{translation.DASH_DAYS_06}} : </label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control nopadding" uib-datepicker-popup="dd-MMM-yyyy" ng-model="enddt" is-open="endOpened" min-date="startdt" ng-required="true" close-text="Close" max-date="dtmax" ng-readonly='true' />
                                        <span class="input-group-btn">
											<button  class="btn btn-default calendarBtn" ng-click="openCalendarEnd()">
												<i class="fa fa-calendar"></i>
											</button>
										</span>
                                    </div>
                                </div>
                            </div>
                            <div class="radiocolorhd" ng-show="IsRadio"></div>
                        </div>
                        <div class="col-sm-12" ng-if="StartDateAvailable">
                            <label> <i class="fa fa-info-circle" aria-hidden="true"></i> Tickets Available from {{StartDateAvailable}} to {{EndDateAvailable}} </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="IntroDKPI" class="DashPrioritySet">
                    <legend class="{{ATClr}} theme-text lgndT" ng-bind-html="translation.DASH_WIDG_SETT_TITLE"></legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>{{translation.DASH_WIDG_SETT_REQPRIOR}} </label>
                            <div class="ovr " id="wdgtPriority" angular-multi-select input-model="PriorityObj" item-label="<[ name ]>" tick-property="ticked" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' search-property="name" min-search-length="1" output-model-props="name" output-model="PriorityObjOP" click-outside>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label> {{translation.DASH_WIDG_SETT_RETYPE}} </label>
                            <div class="ovr " angular-multi-select id="wdgtRequest" input-model="RequestObj" output-model="RequestObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label> {{translation.DASH_WIDG_SETT_RESTAT}}</label>
                            <div class="ovr " id="wdgtStatus" angular-multi-select input-model="StatusObj" item-label="<[ name ]>" tick-property="ticked" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' search-property="name" min-search-length="1" output-model-props="name" output-model="StatusObjOP" click-outside>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label> {{translation.DASH_WIDG_SETT_RECRIT}} </label>
                            <div class="ovr " angular-multi-select input-model="CriticObj" output-model="CriticObjOP" on-item-click="selectCriticality(data)" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="name">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="ovr col-sm-2">
                            <label> {{translation.WDG_SLA_DISP}} : </label>
                        </div>
                        <div class="ovr col-sm-2">
                            <label>
                                <input type="radio" name="IsWithSLA" value="1" ng-model="IsWithSLA" ng-checked="IsWithSLA == 1" ng-disabled="sliObjOP.length == 0"> {{translation.WDG_SLA_SHOW}}
                            </label> &nbsp;&nbsp;
                            <label>
                                <input type="radio" name="IsWithSLA" value="0" ng-model="IsWithSLA" ng-checked="IsWithSLA == 0" ng-disabled="sliObjOP.length == 0"> {{translation.WDG_SLA_HIDE}}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div style="width:90%; margin:0 auto; padding:15px 0" class="animReg" ng-show="isDMVActive == 2">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-8">

                                <div class="panel panel-default" ng-class="{green:IsCursol == true}">
                                    <div class="panel-body">
                                        <a ng-click="togCursol()">
                                            <span ng-show="IsCursol == false"> <i class="fa fa-square-o " ></i>	  </span>
                                            <span ng-show="IsCursol == true"> <i class="fa fa-check-square-o" ></i>   </span> SlideShow</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel panel-default" ng-class="{green:IsCursol == true}">
                                    <div class="panel-body">
                                        <a ng-click="togScoreCard()">
                                            <span ng-show="IsScoreCard == false"> <i class="fa fa-square-o" ></i>	  </span>
                                            <span ng-show="IsScoreCard == true"> <i class="fa fa-check-square-o" ></i>   </span> ScoreCard View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul dnd-list="GroupDetailFilter" class="list-group">
                                    <!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->
                                    <li ng-repeat="item in GroupDetailFilter" dnd-draggable="item" dnd-moved="GroupDetailFilter.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="GroupDetailFilter.selected = item" ng-class="{'selected': GroupDetailFilter.selected === item}" class="list-group-item">
                                        <dnd-nodrag>

                                            <div class="input-group ">

                                                <span class="input-group-addon" dnd-handle class="handle">
						<i class="fa fa-arrows-alt" aria-hidden="true"></i>
				  </span>
                                                <span class="input-group-addon">
						Name
				  </span>
                                                <input type="text" class="form-control no-hide-input" ng-model="item.GroupName" placeholder="Section {{$index +1	}}">
                                                <span class="input-group-addon ">
						Type 
				  </span>

                                                <select class="form-control  no-hide-input" ng-model="item.GroupType" ng-options="template.value as template.name for template in grpViewType">
                                                </select>


                                                <span class="input-group-addon  ">
						View  
				  </span>
                                                <select class="form-control  no-hide-input" ng-model="item.GroupView" ng-options="template.value as template.name for template in grpViewcount">
                                                </select>
                                                <span class="input-group-addon ">
						in a row
				  </span>
                                                <span class="input-group-addon " >
						
				Group By  
				  </span>
				   <span class="input-group-addon " ng-click="changeGrpSubFilter($index)" > 
				   <i class="fa fa-square-o" aria-hidden="true" ng-hide="item.IsFilter == 'True'"></i>
				   <i class="fa fa-check-square" aria-hidden="true" ng-show="item.IsFilter == 'True'"></i>
				   </span>
                                                <input type="text" class="form-control ng-hide" ng-model="item.GroupFilter" />
                                                <select class="form-control " ng-model="item.GroupFilter" ng-options="template.id as template.name for template in FilterCriteria" ng-change="item.GroupFilterValue= ''" ng-disabled="item.IsFilter == 'False'">
                                                </select>

                                                <span class="input-group-addon disabled"> &amp; 
				  </span>

                                                <input ng-disabled="item.GroupFilter == ''" class="form-control chosenFilterContainer" ng-click="chooseSubFilterModal( $index, 'md',item.GroupFilter,item.GroupFilterValue)" ng-model="item.GroupFilterValue" />



                                                <span class="input-group-btn">
        <button class="btn btn-danger btn-danger-rest" type="button" ng-click="deleteFldItem($index, $parent.$index )"> <i class="fa fa-trash" aria-hidden="true"></i></button>
      </span>

                                            </div>
                                        </dnd-nodrag>

                                    </li>
                                </ul>
                                <a ng-click="AddNewSect()" class="list-group-item"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add New Section</a>

                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>

    </div>




</div>

<div class="modal-footer {{TIClr}}">
    <div class="btn {{ATClr}} theme-box boxShadow" ng-click="ok()">{{translation.BTN_OK}}</div>
    <div class="btn stdBtn {{ATClr}} theme-text" ng-click="cancel()"><b>{{translation.BTN_CANCEL}}</b></div>
</div>
