<div class="modal-header {{TIClr}}">
    <h3 class="modal-title">{{translation.DELMDL_TITLE}} {{HeaderName}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="fa fa-close {{ATClr}} theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="HeaderContentDivider {{ATClr}} theme-box"></div>
<div class="modal-body {{TClrs}} modalChart" style="min-height:100px;">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-12 nopad"> {{translation.DELMDL_MSG}} {{DeleteVar}} ?</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer {{TIClr}}">
    <div class="btn {{ATClr}} theme-box boxShadow" ng-click="ok()">{{translation.BTN_YES}}</div>
    <div class="btn stdBtn {{ATClr}} theme-text" ng-click="cancel()"><b>{{translation.BTN_NO}}</b></div>
</div>
