<div ng-if="UserInfo.userID =='dbError' || dbError == true" class="page-center page-center-fixed">
    <div class="page-center-content">
        <h2> Unable to Connect With the Database</h2>
        <h4><i class='fa fa-info' aria-hidden='true'></i>  Please try again later ! or try <a href="#/login" class=" {{ATClr}} theme-text"> LOGIN </a> again</h4>

    </div>

</div>
<div ng-if="UserInfo.userID =='null'" class="page-center page-center-fixed">
    <div class="page-center-content">
        <h2> Unable to get User Information</h2>
        <h3><i class='fa fa-warning' aria-hidden='true'></i>  Please Login to see your dashboard</h3>
        <br><a href="#/login" class="btn btn-warning"><i class="fa fa-envelope-o" aria-hidden="true"></i> Login</a>
    </div>

</div>
<div class="jumbotron" ng-if=" UserInfo.userID !='null' && UserInfo.userID !='dbError' && dbError != true">
    <div class="">
        <div class="jumbotron-content">
            <div class="jumbotron-title">

                <div class="col-sm-8">

                    <div class="pull-left userinfo">
                        <h3 class="testClass">
                            {{translation.HOM_WELCOME}}  <strong> <span>{{UserInfo.userName}}</span>  </strong>
							<span  ng-hide="UserInfo.country"> to the Dashboard ! </span>
                            <a ng-if="IsAdmin==1" class="label label-default label-default-rad {{ATClr}} theme-box" href="#/admin"> {{translation.HOM_ADMIN_PATH}}</a>

                            <h4 class="" ng-show="UserInfo.country"><i class="fa fa-map-marker {{ATClr}} theme-text"></i>&nbsp;&nbsp;&nbsp;{{UserInfo.location}}<span >,{{UserInfo.country}}</span></h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-4 text-right  hidden-xs" >
                  
                    <div style="padding-top:5px;" id="addDashboard">
                        <a  class="btn   {{ATClr}} theme-text" ng-click="openDashboardSettings('lg',0,'')"
                                uib-tooltip="{{translation.ADD_DASH}}" tooltip-class="customClass" tooltip-placement="bottom"><i class="fa fa-plus"></i> Add Dashboard</a>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="container-fluid">
                <div ng-intro-options="IntroOption" ng-intro-method="WalkThroughCall" ng-intro-oncomplete="CompletedEvent" ng-intro-autostart="ShouldAutoStarts" class="row">

                    <div class="col-md-12 no-padding-xs">

                        <div id="IntroDash" class="pgBdy">
                            <div gridster="gridsterOpts">
                                <ul class="{{KPITClr}}">
                                    <li gridster-item="item" ng-repeat="item in DashboardCollectionS" class="boxShadow predefinedActions cursor">
                                        <div class="kpi-panel">
                                            <div class="kpi-heading">
                                                <div class='pull-left kpi-title'> {{translation.ADD_DASH}}</div>
                                                <div class="KPIDvder {{ATClr}} theme-box"></div>
                                            </div>

                                            <div class="kpi-content" set-height>
                                                <div class="text-center dis-table">
                                                    <div class="dis-table-cell">
                                                        <span class="fa fa-4x {{ATClr}} theme-text {{item.DashboardIcon}}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li gridster-item="item" ng-repeat="item in DashboardCollectionR" ng-click="RequestInfoclick()" class="boxShadow predefinedActions cursor">
                                        <div class="kpi-panel">
                                            <div class="kpi-heading">

                                                <div class='pull-left kpi-title'> {{translation.HOM_REQUEST_ANALZER}}</div>
                                                <div class="KPIDvder {{ATClr}} theme-box"></div>
                                            </div>

                                            <div class="kpi-content fa-stack" set-height>

                                                <div class="text-center dis-table">
                                                    <div class="dis-table-cell">
                                                        <span class="fa fa-4x {{ATClr}} theme-text fa fa-ticket "></span>
                                                        <span class="fa fa-4x {{ATClr}}   theme-text {{item.DashboardIcon}} iconstck"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li gridster-item="item" ng-repeat="item in DashboardCollection" class="boxShadow predefinedActions cursor">
                                        <div class="kpi-panel">
                                            <div class="kpi-heading">

                                                <div class='pull-left kpi-title'>{{item.Dashboard.DashboardName}}</div>
                                                <div class="pull-right kpi-heading-link hidden-xs">
                                                    <a class='big cursor  {{ATClr}} theme-text clkIcn' ng-click="openDashboardSettings('lg',1,item.Dashboard.Id)"><i class='fa fa-cog iconMD' title="Open Settings"></i></a>
                                                    <a class='big cursor  {{ATClr}} theme-text clkIcn' ng-click="deleteDashboard('lg',1,item.Dashboard.Id)"><i class='fa fa-times iconMD' title="Delete Dashboard"></i></a>
                                                </div>
                                                <div class="btn-group pull-right kpi-heading-menu visible-xs-block" uib-dropdown>
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                                        <i class="fa fa-cogs" aria-hidden="true"></i> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                                        <li>
                                                            <a ng-click="openDashboardSettings('lg',2,KPIID)" title="{{translation.HOM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.HOM_OPN_SETT}} </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="KPIDvder {{ATClr}} theme-box"></div>
                                            </div>
                                            <div class="kpi-content" set-height>
                                                <div class="text-center dis-table">
                                                    <div class="dis-table-cell">
                                                        <a href="#/dashboard/{{item.Dashboard.Id}}">

                                                            <span class="fa fa-4x {{ATClr}} theme-text {{item.DashboardIcon}}"></span>

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
