<style>
    .sidebar-toggle {
        display: none
    }
</style>


<form role="form" class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="panel panel-default login-panel">
                <div class="panel-heading {{TIClr}}">

                    <a class="navbar-brand" href="#/"></a>
                    <div class="clearfix"></div>
                    <h4>
    <h3 class="panel-title text-center">
	
	
	<i class="fa fa-unlock-alt" aria-hidden="true"></i> {{translation.LOGIN_TITLE | uppercase}}</h3>
  </div>
  <div class="panel-body">
   <input type="text" class="form-control" placeholder="{{translation.LOGIN_USRNAME}}" ng-model="loginUserName" required autofocus>
            <input type="password" class="form-control" placeholder="{{translation.LOGIN_PASSWRD}}" ng-model="loginUserPass" required>
           <br>
            <button class="btn btn-md btn-info btn-block" type="submit" ng-click="LoginFn()">
			<span ng-hide="loginProcess"> {{translation.LOGIN_LOG_BTN}}</span>
			<span ng-show="loginProcess"> <i class="fa fa-circle-o-notch fa-spin  fa-fw"></i> Logging in</span>
			</button>
              <div data-ng-hide="message === '' || message == null" class="alert alert-danger ng-hide">
                {{message}}
            </div>            <!--<
      <hr>
       <h2 class="form-login-heading">Social Logins</h2>
            <p>Or you can login using one of the social logins bleow</p>
button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
            <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>-->
  </div>
</div>
          
            
        </div>
       
    </div>
</form>
