<div class="container-fluid" ng-controller="MasterColMapController">
    <div class="row" style=" width:100%;padding:30px 30px 15px 30px; margin:0; ">
        <div id="masterTable"  style=" width:100%;background-color:#ffffff;" class="hot handsontable"></div>
    </div>
    <div class="col-xs-12 clearfix">
        <div style="padding: 12px 0;text-align:right;bottom:0px">
            <div class="btn {{ATClr}} theme-box " ng-click="saveMasterCol()">{{translation.BTN_SAV_CHANG}}</div>
            <div class="btn {{ATClr}} theme-text" ng-click="reset()" style="font-weight:400;">{{translation.BTN_RESET}}</div>
        </div>
    </div>
</div>
