<div ng-hide="isFetchingDatas" page-loader-spin style="height: 100%;position: absolute;width: 100%;">
</div>
<div class="modal-header {{TIClr}}">
    <h3 class="modal-title">{{HeaderName}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="fa fa-close {{ATClr}} theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="HeaderContentDivider {{ATClr}} theme-box"></div>
<div class="modal-body {{TClrs}}">
    <form role="form">
        <div class="container-fluid">
            <fieldset>
                <legend class="widgetType{{ATClr}} theme-text lgndT">{{translation.WDG_SET_NAME}}:</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="wdgtID" class="col-sm-12"> Widget Type</label>
                            <div class="setLbl col-sm-12" ng-show="isKPISetting">
                                {{BaseKPIName}}
                                <span ng-repeat="TableNameItem in TableNames" ng-show="KPICusType ==  TableNameItem.TableName"> ::  {{TableNameItem.kpiName}} </span>
                                <span class="KPIID"></span>
                            </div>
                            <div class="input-group" ng-hide="isKPISetting">
                                <span class="input-group-addon" style="margin:0; padding:0">
								 <div id="wdgtID" class=" col-sm-12" angular-multi-select input-model="WidgetObj" item-label="<[ name ]>" tick-property="ticked" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' output-model="WidgetObjOP" selection-mode="single" search-property="name" min-search-length="1" on-item-click="selectWidgetClk(WidgetObjOP)" >
													</div>
							  </span>
                                <select class="form-control" ng-model="KPICusType" ng-show="isCustomWidget" ng-change="CustomWidgetChange(TableNameItem.TableName)">
                                    <option ng-repeat="TableNameItem in TableNames" value="{{TableNameItem.TableName}}" ng-selected="KPICusType ==  TableNameItem.TableName"> {{TableNameItem.kpiName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="widgetName" class="col-sm-12">{{translation.WDG_SET_NAME_LABEL}}:</label>
                            <div class="col-sm-12">
                                <input class="form-control" type="text" ng-model="widgetName" id="widgetName" placeholder="Enter widget name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="widgetName" class="col-sm-12">{{translation.WDG_SET_NAME_GRP_LABEL}}:</label>
                            <div class="col-sm-12">

                                <div class="input-group ">
									 <span class="sectionTypeName" >{{KpiGroupType}} </span>
									 <span class="sectionTypeName"  ng-show="KpiGroupType == 'Group'"  > : {{KpiGroupName}} </span>
                                </div>                                
                                <!-- /input-group -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" ng-show="isIcon">
                        <div class="form-group">
                            <label for="widgetName" class="col-sm-12">{{translation.WDG_SET_ICON}}:</label>
                            <div class="col-sm-3 col-md-2" ng-click="chooseIconModal('lg')">
                                <i class="fa {{chosenIconText}} {{ATClr}} theme-text chooseIconFont dashbIcon"></i>
                                <i class="fa fa-pencil fa-2x" style="left: 70px; top: 40px; color: rgb(130, 130, 130); font-size: 20pt; position: absolute;text-shadow:0 2px 0 rgba(127, 127, 127, 0.30), 0 -1px 0 rgba(127, 127, 127, 0.70);"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="isQueryBuild">
                        <div class="form-group">
                            <label for="ScoreCardType">{{translation.WDG_SET_SCOREBOARD_TYPE}}:</label>
                            <div class=" ovr col-sm-12" angular-multi-select input-model="ScoreBoardType" output-model="ScoreBoardTypeOp" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" selection-mode="single">
                            </div>

                            <label ng-repeat="toption in ScoreBoardType" style="padding-right:10px;" class="ng-hide">
                                <input type="radio" ng-model="ScoreBoardType" name="ScoreBoardTypeOp" value="{{toption.name}}" ng-checked="toption.ticked == true" /> {{toption.cname}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
					<label for="scoreCardRecursive">Update ScoreCard recursively  </label>
					<div class="input-group">
					  <span class="input-group-addon">
						<input type="checkbox"  ng-model="IsPeriodic" > in  {{}}
					  </span>
					  <input type="text" class="form-control" style="width:150px;"type="text" ng-model="PeriodicTime" placeholder="Enter Time Period" ng-disabled="!IsPeriodic">
					   <span class="input-group-addon" style="width:1px;"> </span>
					  <select class="form-control" ng-model="PeriodicTimeUnit"  ng-disabled="!IsPeriodic">
                             <option  value="HH" ng-selected="PeriodicTimeUnit ==  'HH'"> Hours </option>
							 <option  value="MM" ng-selected="PeriodicTimeUnit ==  'MM'"> Minutes </option>
							 <option  value="SS" ng-selected="PeriodicTimeUnit ==  'SS'"> Second </option>
						</select>
					</div><!-- /input-group -->
                       
                    </div>
                </div>
        </div>
        </fieldset>
        <fieldset ng-show="isWidgetUIToshow">
            <legend class="{{ATClr}} theme-text lgndT">{{translation.WDG_SET_UI}}:</legend>
            <div>
                <div class="row">
                    <div class="col-sm-6" ng-show="isChartTypeShown">
                        <div class="form-group">
                            <label class="col-sm-12">{{translation.WDG_SET_CHART_TYPE}}:</label>
                            <div class="ovr col-sm-12" angular-multi-select input-model="chartTypeObj" output-model="chartTypeObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" selection-mode="single">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-12"> {{translation.WDG_SET_COLORS}} :</label>
                            <label>
                                <input type="checkbox" ng-model="IsATCLr" ng-change="changeClr({{IsATCLr}})" value=IsATCLr>&nbsp; {{translation.WDG_SET_USE_THEME}}
                            </label>
                            <div class="{{colorhd}} {{BlurClas}} ">
                                <div ng-repeat="item in chartColorItem track by $index" class="row">
                                    <div class="col-sm-2">
                                        <input colorpicker type="text" colorpicker-position="right" ng-model="$parent.chartColorItem[$index]" colorpicker-parent="true" ng-style="{'background-color':item, 'color':item}" style="width:50px;" />
                                    </div>
                                    <div class="col-sm-1">
                                        <span>:</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <span>{{chartName[$index]}}</span>
                                    </div>
                                </div>
                                <div class="colorhd" ng-show="IsATCLr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="setRow">
            <legend class="{{ATClr}} theme-text lgndT">{{translation.WDG_SET_FILTER}}</legend>
            <div ng-show="isHeatMapFilter">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-12"> {{translation.WDG_SET_HEATMAP_FILTER}} :</label>
                            <div class="ovr col-sm-12 multiselectDiv" angular-multi-select input-model="FilterHMObj" output-model="FilterHMObjOp" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="value" selection-mode="single"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isPareto || isWordCloud ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-12"> {{translation.WDG_SET_PARETO}} :</label>
                            <div class="ovr col-sm-12 multiselectDiv" angular-multi-select input-model="FilterObj" output-model="FilterObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="value" selection-mode="single"></div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="isWordCloud">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-12"> {{translation.WDG_SET_SHOW_UNIT}}:</label>
                            <div class="ovr col-sm-12" angular-multi-select input-model="UnitShowObj" output-model="UnitShowObOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="value" selection-mode="single" on-close="fUnitShowClose()"></div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="isLineChartShow">
                        <div class="form-group">
                            <label class="col-sm-12">{{translation.WDG_SET_SHOW_LINCHART}}:</label>
                            <div class="ovr col-sm-12" angular-multi-select input-model="IsLineShowObj" output-model="IsLineShowObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' output-model-props="value" tick-property="ticked" selection-mode="single">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="isRespReslnPareto">
                        <div class="form-group">
                            <label class="col-sm-12">{{translation.WDG_SET_CHOOSE_SLA}} :</label>
                            <div class="ovr col-sm-12" angular-multi-select input-model="sliObj" output-model="sliObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" selection-mode="single">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isPivot || isTreeMap ||isPivotChart">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-12">{{translation.WDG_SET_GROUP_BY}} :</label>
                        <div ng-repeat="rowsQuery in Ob1" class="queryRow" style="margin: 10px 0;">
                            <div class="row" ng-controller="FilterRowController" ng-init="Inialize(rowsQuery,'')">
                                <div ng-hide="isPivotChart" class="col-sm-4" style=" padding-right: 35px;">
                                    <div class="btn {{ATClr}} theme-box minus pull-right" style="margin-left:10px;" ng-show="Ob1.length>1" ng-click="DeleteRow1($index)"><i class="fa fa-minus"></i></div>
                                    <div class="btn {{ATClr}} theme-box add pull-right" ng-show="$last" ng-click="addRow1($index)"><i class="fa fa-plus"></i></div>
                                </div>
                                <div class="col-sm-7">
                                    <div angular-multi-select input-model="GroupObj" output-model="GroupObjOP" selection-mode="single" button-label="<[ name ]>" item-label="<[ name ]>" button-template="angular-multi-select-btn-data.htm" tick-property="Ticked" disable-property="disabled" output-properties="name" on-item-click="GroupByClose()">
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                    <div class="col-sm-6" ng-hide="isTreeMap">
                        <div class="form-group">
                            <label class="col-sm-12">{{translation.WDG_SET_SPLIT_BY}} :</label>
                            <div class="ovr col-sm-12" angular-multi-select input-model="splitObj" output-model="splitObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' disable-property="disabled" tick-property="ticked" selection-mode="single" output-model-props="value" on-item-click="SplitByClose()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" ng-show="isRespResln || isIncomVsComp || isHeatMap">
                        <div class="form-group">
                            <label class="col-sm-12">{{translation.WDG_SET_SHOW_LAST}}:</label>
                            <div class="ovr">
                                <div class="col-sm-4" angular-multi-select input-model="MonthObj" output-model="MonthObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" selection-mode="single"></div>
                                <div class="col-sm-8" angular-multi-select input-model="ReportTypeObj" output-model="ReportTypeObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" selection-mode="single"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="isRespResln">
                        <div class="form-group">
                            <label class="col-sm-12"> {{translation.WDG_SET_CHOOSE_SLA}} :</label>
                            <div class="ovr col-sm-12" angular-multi-select input-model="sliObj" output-model="sliObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" selection-mode="single">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12" ng-show="isAgingReport">
                        <div class="form-group">

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="col-sm-12">{{translation.WDG_SET_GROUP_BY}} :</label>


                                    <select ng-model="ageAnalysisCondSel" class="form-control" ng-change="upDageAnalysisCondSels(ageAnalysisCondSel)">
                                        <option value=""> Select</option>
                                        <option ng-repeat="cvalue in GroupObj" ng-selected="ageAnalysisCondSel == cvalue.value" value="{{cvalue.value}}">
                                            {{cvalue.name}}
                                        </option>
                                    </select>


                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group container-fluid">
                                    <label>View By : </label>
                                    <button class="btn btn-sm btn-success" ng-click="ageAnalysisAddObj()"> <i class="fa fa-plus"></i> Add New </button>
                                    <br>
                                    <div class="row" ng-repeat="qaRow in ageAnalysisQueryObj | orderBy:'index'">

                                        <div class=" col-xs-2"> Condition : </div>
                                        <div class=" col-xs-2">
                                            <select ng-model="qaRow.condition" class="form-control">
                                                <option value=""> Select</option>
                                                <option ng-repeat="cvalue in ageAnalysisCondObj" ng-selected="qaRow.condition == cvalue.value" value="{{cvalue.value}}">
                                                    {{cvalue.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class=" col-xs-1"> Value : </div>
                                        <div class=" col-xs-2">
                                            <input type="number" ng-model="qaRow.value" class="form-control" ng-if="qaRow.condition != '<>'">

                                            <div class="input-group" ng-if="qaRow.condition == '<>'">
                                                <input type="text" ng-model="qaRow.value" class="form-control">
                                                <span class="input-group-addon text-center">
                                                        -
                                                    </span>
                                                <input type="text" ng-model="qaRow.value1" class="form-control">
                                            </div>
                                            <!-- /input-group -->




                                        </div>
                                        <div class=" col-xs-2"> Limit : </div>
                                        <div class=" col-xs-2">
                                            <select ng-model="qaRow.limit" class="form-control">
                                                <option value=""> Select</option>
                                                <option ng-repeat="cvalue in ageAnalysisLimitObj" ng-selected="qaRow.limit == cvalue.value" value="{{cvalue.value}}">
                                                    {{cvalue.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class=" col-xs-1">
                                            <button class="btn btn-default btn-danger" ng-click="ageAnalysisDelObj($index)" ng-if="$index > '0'"> <i class="fa fa-trash-o"></i></button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="isRespResln" style="display:none !important">
                        <div class="ovr col-sm-2">
                            <label> {{translation.WDG_SLA_DISP}} : </label>
                        </div>
                        <div class="ovr col-sm-2">
                            <label>
                                <input type="radio" name="IsWithSLA" value="1" ng-model="IsWithSLA" ng-checked="IsWithSLA == 1" ng-disabled="sliObjOP.length == 0"> {{translation.WDG_SLA_SHOW}}
                            </label> &nbsp;&nbsp;
                            <label>
                                <input type="radio" name="IsWithSLA" value="0" ng-model="IsWithSLA" ng-checked="IsWithSLA == 0" ng-disabled="sliObjOP.length == 0"> {{translation.WDG_SLA_HIDE}}
                            </label>
                        </div>
                    </div>

                    <div class="row" ng-if="isQueryBuild==true">
                        <div class="col-sm-12" ng-controller="QueryBuilderController">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label class="col-sm-12">{{translation.WDG_SET_QRY_BUILDR}} :</label>
                                        <div class="querybuilderContainer col-sm-12 ovr">
                                            <query-builder group="filter.group"></query-builder>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/ng-template" id="/QueryBuilderDirective.html">
                                <div class="ovr">
                                    <div class="group-conditions">
                                        <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition" ng-model="group.rules">
                                            <div ng-switch="rule.hasOwnProperty('group')">
                                                <div ng-switch-when="true">
                                                    <query-builder group="rule.group"></query-builder>
                                                </div>
                                                <div ng-switch-default="ng-switch-default">
                                                    <div class="form-inline">
                                                        <select ng-options="t.name as t.name for t in AndOroperators" ng-model="rule.AndOrOperator" class="form-control input-sm" ng-hide="$index ==0"></select>
                                                        <select ng-model="rule.field.DbName" ng-options="item.Column as item.name for item in fields" ng-change="changeField(rule.field,$index)" class="form-control input-sm"></select>
                                                        <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions " ng-model="rule.condition" class="form-control input-sm" ng-show="rule.fieldType=='Numeric' || rule.fieldType=='Date'"></select>
                                                        <select style="margin-left: 5px" ng-options="c.name as c.Displayname for c in NonNumericconditions" ng-model="rule.Noncondition" class="form-control input-sm" ng-show="rule.fieldType=='NonNumeric' "></select>
                                                        <input numeric-only style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm" ng-show="rule.fieldType=='Numeric' && rule.condition!='between'" />
                                                        <input style="margin-left: 5px" type="text" ng-model="rule.Startdata" class="form-control input-sm" ng-show="rule.condition=='between' && rule.fieldType=='Numeric'" />
                                                        <input style="margin-left: 5px" type="text" ng-model="rule.Enddata" class="form-control input-sm" ng-show="rule.condition=='between' && rule.fieldType=='Numeric'" />
                                                        <div class="input-group" ng-show="rule.fieldType=='Date' && rule.condition!='between' ">
                                                            <input style="margin-left: 5px" type="text" ng-model="rule.stdate" min-date="strtdt" max-date="enddt" class="form-control" datepicker-append-to-body="false" uib-datepicker-popup="dd-MMM-yyyy" is-open="startsOpened" close-text="Close" />
                                                            <span class="input-group-btn">
                                                                    <button style="height: 34px;" class="btn btn-default calendarBtn" ng-click="startsOpened=true">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </span>
                                                        </div>
                                                        <div class="input-group" ng-show="(rule.condition=='between' && rule.fieldType=='Date')">
                                                            <input style="margin-left: 5px" type="text" ng-model="rule.Startdate" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" min-date="strtdt" max-date="rule.Enddate || enddt" is-open="startOpened" close-text="Close" />
                                                            <span class="input-group-btn">
                                                                    <button style="height: 34px;" class="btn btn-default calendarBtn" ng-click="startOpened=true">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </span>
                                                        </div>
                                                        <div class="input-group" ng-show="rule.condition=='between' && rule.fieldType=='Date'">
                                                            <input style="margin-left: 5px" type="text" ng-model="rule.Enddate" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" min-date="rule.Startdate || strtdt" max-date="enddt" is-open="endOpened" close-text="Close" />
                                                            <span class="input-group-btn">
                                                                    <button style="height: 34px;" class="btn btn-default calendarBtn" ng-click="endOpened=true">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </span>
                                                        </div>
                                                        <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-success {{ATClr}} theme-box" ng-show="group.rules.length==$index+1"><span class="fa fa-plus"></span></button>
                                                        <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-danger {{ATClr}} theme-box" ng-hide="group.rules.length==1"><span class="fa fa-minus"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </script>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <label>
                                    <input type="checkbox" ng-model="IsParent" ng-change="changeFun({{IsParent}})" value=IsParent>&nbsp; {{translation.WDG_SET_INHER_PARENT}}</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row {{BlurClass}}">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-12">{{translation.WDG_SET_PRIORITY}}:</label>
                                    <div class="ovr col-sm-12" id="wdgtPriority" angular-multi-select input-model="PriorityObj" item-label="<[ name ]>" tick-property="ticked" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' search-property="name" min-search-length="1" output-model-props="name" output-model="PriorityObjOP" click-outside>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-12">{{translation.WDG_SET_REQ_TYPE}} : </label>
                                    <div class="ovr col-sm-12" angular-multi-select id="wdgtRequest" input-model="RequestObj" output-model="RequestObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row {{BlurClass}}">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-12"> {{translation.WDG_SET_REQ_STAT}} :</label>
                                    <div class="ovr col-sm-12" id="wdgtStatus" angular-multi-select input-model="StatusObj" output-model="StatusObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-12"> {{translation.WDG_SET_REQ_CTRIT}}:</label>
                                    <div class="ovr col-sm-12" angular-multi-select input-model="CriticObj" output-model="CriticObjOP" item-label="<[ name ]>" search-property="name" min-search-length="1" button-template="angular-multi-select-btn-data.htm" button-label="<[ name ]>" button-label-separator='[" & ",""]' tick-property="ticked" output-model-props="name" on-item-click="selectCriticality(data)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fltrhd" ng-show="IsParent"></div>

                    </div>
            </fieldset>
            </div>
    </form>
    </div>
    <div class="modal-footer {{TIClr}}">
        <div class="btn {{ATClr}} theme-box " ng-click="ok()">{{translation.BTN_OK}}</div>
        <div class="btn stdBtn {{ATClr}} theme-text" ng-click="cancel()"><b>{{translation.BTN_CANCEL}}</b></div>
    </div>