﻿<div ng-hide="isFetchingDatas" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header {{TIClr}}">
    <h3 class="modal-title">{{HeaderName}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancelZoom()">
        <i class="fa fa-close {{ATClr}} theme-text" aria-hidden="true"></i>
    </div>
</div>

<div class="HeaderContentDivider {{ATClr}} theme-box"></div>

<div class="modal-body {{TClrs}} modalChart">
    <div ng-switch="{{KPI.idNum}}" ng-trim="true" class="kpiGridsterFirstChild">
        <div my-template ng-switch-when="1" class="kpiChildDiv" type="1" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="2" class="kpiChildDiv" type="2" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="3" class="kpiChildDiv" type="3" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="4" class="kpiChildDiv" type="4" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="5" class="kpiChildDiv" type="5" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="6" class="kpiChildDiv" type="6" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="8" class="kpiChildDiv" type="8" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="9" class="kpiChildDiv" type="9" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="10" class="kpiChildDiv" type="10" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="11" class="kpiChildDiv" type="11" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="12" class="kpiChildDiv" type="12" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="13" class="kpiChildDiv" type="13" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="14" class="kpiChildDiv" type="14" data-kpiid="{{KPI.Id}}">
        </div>
        <div my-template ng-switch-when="15" class="kpiChildDiv" type="15" data-kpiid="{{KPI.Id}}">
        </div>
    </div>
</div>