<!DOCTYPE html>
<html lang="en" ng-app="dashboard" ng-controller="MasterController">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../Media/favicon.ico" rel="icon">
    <title>Mosaic Governance Dashboard </title>

    <link href="../bower_components/bootstrap-css-only/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet" />
    <link href="../bower_components/angular-gridster/dist/angular-gridster.min.css" rel="stylesheet" />
    <!--<link href="../non_bower_components/angular-grid/angular-grid.min.css" rel="stylesheet" />
	<link href="../non_bower_components/angular-grid/theme-fresh.min.css" rel="stylesheet" />-->
    <link href="../non_bower_components/ag-grid/dist/styles/ag-grid.css" rel="stylesheet" />
    <link href="../non_bower_components/ag-grid/dist/styles/theme-fresh.css" rel="stylesheet" />
    <link href="../non_bower_components/angular-multi-select/angular-multi-select.min.css" rel="stylesheet" />
    <link href="../bower_components/jqcloud2/dist/jqcloud.css" rel="stylesheet" />
    <link href="../bower_components/weather-icons/css/weather-icons.min.css" rel="stylesheet" />
    <link href="../bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet" />
    <link href="../bower_components/intro.js/minified/introjs.min.css" rel="stylesheet" />
    <link href="../bower_components/vis/dist/vis.css" rel="stylesheet" />
    <link href="../non_bower_components/ng-input-tag/ng-tags-input.css" rel="stylesheet" />
    <link href="../bower_components/handsontable/dist/handsontable.full.css" rel="stylesheet" />
    <link href="../bower_components/c3/c3.css" rel="stylesheet" />
    <link href="../bower_components/cal-heatmap/cal-heatmap.css" rel="stylesheet"/>
    <link href="../bower_components/angular-carousel/angular-carousel.css" rel="stylesheet" />
    <link href="../bower_components/angular-slick-carousel/src/slick.min.css" rel="stylesheet" />
    <link href="../bower_components/angular-slick-carousel/src/slick-theme.min.css" rel="stylesheet" />
    <link href="../bower_components/angular-daterangepicker/daterangepicker.min.css" rel="stylesheet">	
    <link href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../CustomCSS/Layout.css" rel="stylesheet">
    <link href="../CustomCSS/Metro.css" rel="stylesheet">
    <link href="../CustomCSS/RequestInfo.css" rel="stylesheet" />
    <link href="../CustomCSS/settings.css" rel="stylesheet" />
    <link href="../CustomCSS/Admin.css" rel="stylesheet" />
    <link href="../CustomCSS/custom.css" rel="stylesheet" />
    <link href="../CustomCSS/sidebar.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="{{TClr}}">
    <div class="sidebar-overlay " ng-class="{active:scopeMenu == true}" ng-click="SwapSideMenu($event)"></div>
    <!-- Material sidebar -->
    <aside id="sidebar" class="sidebar sidebar-default   sidebar-fixed-right " role="navigation" ng-class="{open:scopeMenu == true}">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover ">
            <!-- Top bar -->
            <div class="top-bar {{TIClr}} ">
                <div class=""> </div>
                <button type="button" class="sidebar-toggle">
                    <i class="fa fa-arrow-circle-left fa-2x"></i>
                </button>
            </div>
            <div class="HeaderContentDivider {{ATClr}} theme-box"></div>
            <!-- Sidebar toggle button -->
        </div>
        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
            <li ng-click="loginDash()" ng-hide="UserInfo.userName"> <a><i class="fa fa-sign-in   "></i> <span class="title ">Log in</span> </a></li>
            <li ng-show="UserInfo.userName" class="visible-xs visible-xs-block"> <a> {{UserInfo.userName}}</a></li>
            <li ng-click="logOut()" ng-show="UserInfo.userName"> <a><i class="fa fa-sign-out   "></i> <span class="title ">Log Out</span> </a></li>
            <li><a ng-href="#/settings" ng-show="UserInfo.userName"><i class="fa fa-gear "></i> <span class="title "> Settings</span> </a></li>
            <li><a ng-href="#/admin" ng-show="UserInfo.userName"><i class="fa fa-user "></i> <span class="title "> Admin</span> </a></li>
            <li role="separator" class="divider" ng-show="UserInfo.userName"></li>
            <li>
                <a class="main"> <i class="fa fa-book "></i> WalkThrough</a>
            </li>
            <li>
                <a ng-click="systemWalkThroughFn()"> <i class="fa fa-gears"></i> <span class="title">Sys. WalkThrough</span></a>
            </li>
            <li><a ng-click="systemWalkThroughFn()"><i class="fa fa-tasks"></i> <span class="title">KPI WalkThrough</span> </a></li>
            <li><a ng-click="videoWalkThrough()"><i class="fa fa-play-circle-o"></i> <span class="title ">Video</span></a> </li>
            <li role="separator" class="divider"></li>
            <li>
                <a class="main"> <i class="fa fa-tint "></i> Appearance</a>
            </li>
            <li>
                <div class="tray">
                    <section class="base-theme-options">
                        <h5>Base Theme</h5>
                        <div class="colorBox theme-box light" title="white" ng-click="BaseThemeChange($event)"></div>
                        <div class="colorBox theme-box dark" title="black" ng-click="BaseThemeChange($event)"></div>
                    </section>
                    <section class="theme-options">
                        <h5>Accent Color</h5>
                        <hldr ng-repeat="choice in themeApplycolors">
                            <div class="colorBox theme-box {{choice}}" title="{{choice}}" ng-click="AccentColorChange($event)"></div>
                        </hldr>
                    </section>
                </div>
            </li>
            <li role="separator" class="divider"></li>
        </ul>
    </aside>
    <!-- HEADER -->
    <header class="header {{TIClr}} {{BlurTop}} static-xs" ng-if="showHeader">
        <nav class="navbar navbar-default {{TIClr}} {{BlurTop}} navbar-fixed-top ">
            <div class="">
                <a class="navbar-brand" href="#/main"></a>
                <div class="btn-toolbar pull-right headerSettings AT">
                    <div class="btn-group logOutDrpDwn">
                        <a class="links {{ATClr}} theme-text" ng-hide="UserInfo.userName" ng-click="loginDash()"> Login </a>
                        <a class="links {{ATClr}} theme-text  hidden-xs" ng-show="UserInfo.userName">{{UserInfo.userName}}</a>
                        <a class="imglinks {{ATClr}} theme-text" ng-show="UserInfo.userName">
                            <img mins="{{UserInfo.userName}}" style="width:60px;vertical-align: text-top;" ng-src="data:image/bmp;base64,{{UserInfo.userImage}}" ng-if="UserInfo.userImage != 'No_Image'" /> </a>
							<img mins="{{UserInfo.userName}}" style="width:60px;vertical-align: top;" ng-src="../Media/unknown2-64.png" ng-if="UserInfo.userImage == 'No_Image'" />
						</a>
                    </div>
                </div>
            </div>
            <div class="HeaderContentDivider {{ATClr}} theme-box"></div>
        </nav>
    </header>
    <button type="button" class="sidebar-toggle {{ATClr}} theme-box btn sidebar-toggle-btn-new c-hamburger c-hamburger--htx" ng-click="SwapSideMenu($event)" ng-class="{isActive:scopeMenu == true}">
        <span>{{scopeMenu}}</span>
    </button>
    <!-- Angular -->
    <div class="content-region {{BlurClass}}" id="allPages" page-height></div>
    <div ng-view></div>
    <footer class="cssFooter stdBoxShadow fixed {{TIClr}} container-fluid ">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <span class="ng-hide" ng-show="UserInfo.lastModifiedDate" style=" font-size: 85%;    color: #848484;"> Tickets available until : 
			  {{ UserInfo.lastModifiedDate | date:'DD-MMMM-YYYY HH:mm:ss '}}
			 </span>
            </div>
            <div class="col-sm-5 col-xs-12" style="float: right;padding-right:0;">
                
                
<svg width="110" height="25" xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" style="padding-left: 0; padding-right: 0;" class="col-sm-4 col-xs-4"  xmlns="http://www.w3.org/2000/svg" id="lntFooterLogo">
 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->

 <g>
  <title>background</title>
  <rect fill="none" id="canvas_background" height="27" width="112" y="-1" x="-1"/>
 </g>
 <g>
  <title>Layer 1</title>
  <g stroke="null" id="svg_14">
   <g stroke="null" id="svg_1">
    <path stroke="null" d="m71.866744,7.179216c-1.390959,0.240816 -2.288087,1.342249 -2.666691,3.264824l-0.090536,0.461892l-0.814823,0c-0.452679,0 -0.818938,0.011843 -0.818938,0.027634c-0.004115,0.019739 -0.074075,0.33951 -0.160495,0.710602l-0.15638,0.682967l0.798361,0c0.728401,0 0.794247,0.003947 0.794247,0.067112c-0.004115,0.039477 -0.320991,1.456735 -0.711941,3.150338l-0.711941,3.079278l1.045278,0.011843c0.576137,0.003947 1.053507,0.003947 1.061738,-0.003947c0.008231,-0.003947 0.308644,-1.306719 0.674903,-2.889784c0.362143,-1.587012 0.691365,-3.000321 0.724287,-3.150338l0.065844,-0.264503l0.893013,0l0.897127,0l0.152264,-0.663229c0.082306,-0.363197 0.148149,-0.682967 0.148149,-0.710602c0,-0.03553 -0.205764,-0.047373 -0.884781,-0.047373c-0.485601,0 -0.884781,-0.011843 -0.884781,-0.031583c0,-0.015791 0.057613,-0.260554 0.123458,-0.540847c0.218109,-0.91194 0.576137,-1.433048 1.082315,-1.579116c0.283953,-0.078956 0.432102,-0.075008 0.683134,0.023687c0.115228,0.047373 0.218109,0.078956 0.222224,0.07106c0.028807,-0.03553 0.489717,-1.539639 0.47737,-1.551482c-0.008231,-0.007896 -0.259262,-0.051322 -0.555561,-0.098695c-0.613174,-0.094748 -0.93005,-0.098695 -1.386844,-0.019739l0.000003,-0.000001l-0.000001,0.000001z" id="svg_3"/>
    <path stroke="null" d="m102.640693,7.321336c-0.024691,0.078956 -2.40743,11.239362 -2.40743,11.282788c0,0.023687 0.399181,0.039477 1.045278,0.039477l1.041162,0l0.46091,-2.218659c0.255146,-1.219867 0.497947,-2.32525 0.543215,-2.459475c0.296299,-0.844827 0.893013,-1.425152 1.633761,-1.583065c0.835399,-0.177651 1.469149,0.114486 1.588492,0.738236c0.041153,0.221077 -0.041153,0.832984 -0.197533,1.436995c-0.07819,0.30398 -0.308644,1.314615 -0.518523,2.250241c-0.205764,0.931679 -0.382719,1.729133 -0.395066,1.764663c-0.020576,0.067112 0.049383,0.07106 1.041162,0.07106l1.065853,0l0.362143,-1.709394c0.197533,-0.935627 0.415642,-1.914679 0.481486,-2.167337c0.115228,-0.453996 0.119342,-0.489526 0.119342,-1.508056l0,-1.038269l-0.131689,-0.248711c-0.275722,-0.517161 -0.897127,-0.959313 -1.576146,-1.129068c-0.407411,-0.102642 -1.197542,-0.094748 -1.637875,0.019739c-0.419757,0.106591 -0.847745,0.323719 -1.123467,0.576377c-0.123458,0.110538 -0.222224,0.185547 -0.222224,0.169755c0,-0.019739 0.213993,-0.983001 0.473255,-2.151546c0.259262,-1.164598 0.473255,-2.131807 0.473255,-2.147599c0,-0.019739 -0.473255,-0.03553 -1.049393,-0.03553c-0.806592,0 -1.057623,0.011843 -1.069969,0.047373l0.000001,0.000004l0,0.000001z" id="svg_4"/>
    <path stroke="null" d="m38.956974,7.960879c-1.720181,0.300033 -2.711959,1.464631 -2.547349,2.992426c0.057613,0.556638 0.201648,0.900097 0.596714,1.440944l0.181071,0.244763l-0.238686,0.063165c-1.325115,0.351353 -2.238704,1.148807 -2.559695,2.230502c-0.209879,0.71455 -0.131689,1.650177 0.193417,2.281824c0.181071,0.359249 0.670788,0.856671 1.053507,1.069851c0.757209,0.426362 2.074093,0.615856 3.164638,0.457944c0.753094,-0.106591 1.559686,-0.355302 1.934174,-0.592168c0.08642,-0.055269 0.168726,-0.098695 0.189302,-0.098695c0.016461,0 0.098766,0.134225 0.185187,0.296084l0.152264,0.296084l1.218118,0l1.218118,0l-0.144035,-0.185547c-0.786016,-1.042217 -1.139929,-1.515952 -1.139929,-1.527796c0,-0.011843 0.127573,-0.177651 0.279838,-0.37504c0.70371,-0.900097 1.226349,-2.0568 1.427997,-3.158234c0.032922,-0.181598 0.061729,-0.355302 0.061729,-0.386883c0,-0.043426 -0.152264,-0.051322 -0.888898,-0.043426l-0.893013,0.011843l-0.090536,0.394779c-0.053498,0.217128 -0.144035,0.5369 -0.201648,0.710602c-0.115228,0.327667 -0.604944,1.334353 -0.666672,1.373831c-0.037038,0.019739 -1.600837,-2.080486 -1.600837,-2.151546c0,-0.019739 0.176957,-0.102642 0.395066,-0.185547c0.823052,-0.311876 1.390959,-0.659282 1.827177,-1.117225c0.526753,-0.560587 0.777785,-1.413309 0.621405,-2.123911c-0.094651,-0.434258 -0.2428,-0.686916 -0.621405,-1.050112c-0.279838,-0.272397 -0.395066,-0.351353 -0.761323,-0.525057c-0.238686,-0.110538 -0.580252,-0.240816 -0.761323,-0.284241c-0.423872,-0.102642 -1.16462,-0.130278 -1.584377,-0.059217l0.000001,0.000005l0.000001,0zm1.448573,1.622542c0.238686,0.078956 0.46914,0.315823 0.510293,0.513212c0.082306,0.426362 -0.123458,0.94747 -0.502062,1.279085c-0.259262,0.228973 -0.765439,0.477682 -1.168735,0.576377l-0.263377,0.067112l-0.115228,-0.134225c-0.061729,-0.07106 -0.201648,-0.296084 -0.308644,-0.501369c-0.193417,-0.355302 -0.197533,-0.378988 -0.197533,-0.710602c0.004115,-0.288189 0.020576,-0.371092 0.111113,-0.540847c0.115228,-0.213181 0.341568,-0.426362 0.522639,-0.497422c0.39095,-0.157912 1.024702,-0.177651 1.411535,-0.051322l-0.000001,0.000001l0,0zm-1.427997,5.744037c0.514408,0.750081 0.942396,1.381726 0.954742,1.405414c0.020576,0.055269 -0.432102,0.272397 -0.79013,0.37504c-0.411526,0.118434 -1.222233,0.146068 -1.584377,0.059217c-0.559676,-0.138172 -0.954742,-0.394779 -1.185196,-0.769819c-0.102882,-0.165808 -0.111113,-0.217128 -0.111113,-0.615856c0,-0.390832 0.012345,-0.457944 0.115228,-0.667177c0.181071,-0.37504 0.572021,-0.710602 1.139929,-0.983001c0.259262,-0.126329 0.481486,-0.213181 0.497947,-0.19739c0.012345,0.019739 0.448564,0.64349 0.962972,1.393571z" id="svg_5"/>
    <path stroke="null" d="m29.697629,8.087209c0,0.027634 -2.214013,10.319528 -2.251049,10.469543l-0.020576,0.086852l3.1811,-0.007896l3.1811,-0.011843l0.131689,-0.730342c0.074075,-0.402675 0.148149,-0.789558 0.160495,-0.860619l0.024691,-0.126329l-2.041171,0c-1.925943,0 -2.041171,-0.003947 -2.020594,-0.07106c0.041153,-0.134225 1.917714,-8.65356 1.917714,-8.712776c0,-0.051322 -0.144035,-0.059217 -1.131698,-0.059217c-0.621405,0 -1.131698,0.011843 -1.131698,0.023687l-0.000001,0z" id="svg_6"/>
    <path stroke="null" d="m44.310934,8.209589c-0.020576,0.082903 -0.123458,0.453996 -0.22634,0.825088c-0.102882,0.371092 -0.189302,0.694812 -0.189302,0.718498c0,0.03553 0.362143,0.047373 1.440343,0.047373c1.345691,0 1.440343,0.003947 1.436228,0.067112c0,0.039477 -0.432102,2.025217 -0.958856,4.413631l-0.954742,4.342571l1.131698,0.011843c0.621405,0.003947 1.131698,0.003947 1.139929,0c0.004115,-0.007896 0.436219,-1.966001 0.958856,-4.354414c0.526753,-2.388414 0.962972,-4.374153 0.975318,-4.409684c0.020576,-0.063165 0.131689,-0.07106 1.407421,-0.078956l1.386844,-0.011843l0.152264,-0.809297c0.082306,-0.446101 0.152264,-0.832984 0.152264,-0.860619c0.004115,-0.03553 -0.802476,-0.047373 -3.905386,-0.047373l-3.905386,0l-0.041153,0.146068l0.000001,0.000001l0,0z" id="svg_7"/>
    <path stroke="null" d="m56.878951,8.150373c-0.057613,0.23292 -2.24282,10.418222 -2.24282,10.453753c0,0.027634 0.378604,0.039477 1.127582,0.039477l1.127582,0l0.045268,-0.189494c0.06996,-0.280293 2.226358,-10.323475 2.226358,-10.359005c0,-0.019739 -0.510293,-0.031583 -1.131698,-0.031583l-1.131698,0l-0.020576,0.086852l0.000003,0l-0.000001,0z" id="svg_8"/>
    <path stroke="null" d="m83.916239,8.935983c-0.609059,0.209233 -1.115236,0.406622 -1.127582,0.434258c-0.012345,0.031583 -0.08642,0.382936 -0.164611,0.785611l-0.148149,0.730342l-0.744863,0.011843l-0.744863,0.007896l-0.218109,0.663229c-0.119342,0.363197 -0.22634,0.682967 -0.23457,0.706655c-0.016461,0.039477 0.15638,0.051322 0.79013,0.051322c0.748978,0 0.806592,0.003947 0.786016,0.067112c-0.065844,0.228973 -0.687249,2.881888 -0.728401,3.110859c-0.074075,0.446101 -0.065844,1.650177 0.016461,1.942314c0.205764,0.738236 0.674903,1.14486 1.48561,1.294876c0.436219,0.078956 0.806592,0.075008 1.374498,-0.023687c0.263377,-0.043426 0.485601,-0.086852 0.489717,-0.086852c0.008231,-0.011843 0.300415,-1.440944 0.300415,-1.480421c0,-0.023687 -0.082306,-0.015791 -0.193417,0.015791c-0.292184,0.082903 -0.967087,0.075008 -1.156389,-0.019739c-0.386835,-0.189494 -0.514408,-0.592168 -0.345682,-1.073799c0.045268,-0.118434 0.259262,-1.006686 0.485601,-1.977844l0.407411,-1.768611l0.893013,0l0.893013,0l0.041153,-0.150017c0.020576,-0.078956 0.08642,-0.367145 0.148149,-0.639542c0.057613,-0.272397 0.119342,-0.525057 0.127573,-0.564534c0.020576,-0.063165 -0.041153,-0.067112 -0.864205,-0.067112c-0.70371,0 -0.888898,-0.011843 -0.888898,-0.051322c0,-0.027634 0.102882,-0.540847 0.22634,-1.136964c0.127573,-0.592168 0.222224,-1.101434 0.218109,-1.121173c-0.008231,-0.023687 -0.510293,0.130278 -1.123467,0.33951l-0.000003,-0.000001l0,0z" id="svg_9"/>
    <path stroke="null" d="m63.792596,10.78355c-0.559676,0.086852 -1.131698,0.331614 -1.572032,0.675072c-0.144035,0.110538 -0.259262,0.177651 -0.259262,0.150017c0.004115,-0.027634 0.028807,-0.165808 0.061729,-0.307927c0.098766,-0.438205 0.209879,-0.394779 -0.983549,-0.394779l-1.041162,0l-0.028807,0.335562c-0.016461,0.185547 -0.057613,0.434258 -0.090536,0.556638c-0.041153,0.16186 -1.33746,6.032226 -1.48561,6.734932l-0.020576,0.110538l1.049393,0c0.967087,0 1.053507,-0.003947 1.074084,-0.07106c0.012345,-0.03553 0.197533,-0.931679 0.411526,-1.985739c0.213993,-1.054061 0.448564,-2.09233 0.522639,-2.309458c0.341568,-1.034322 0.839514,-1.646229 1.518533,-1.85941c0.329221,-0.102642 0.942396,-0.094748 1.193427,0.011843c0.205764,0.094748 0.386835,0.252658 0.481486,0.426362c0.148149,0.272397 0.106997,0.844827 -0.115228,1.677811c-0.065844,0.244763 -0.259262,1.231711 -0.427988,2.191025c-0.172841,0.955366 -0.320991,1.780454 -0.329221,1.831776l-0.020576,0.086852l0.979432,0l0.979432,0l0.419757,-1.946261c0.230455,-1.065904 0.465024,-2.10812 0.522639,-2.309458c0.366259,-1.334353 0.172841,-2.388414 -0.559676,-3.024009c-0.246917,-0.217128 -0.670788,-0.422413 -1.045278,-0.517161c-0.296299,-0.07106 -0.950627,-0.106591 -1.23458,-0.063165l0.000001,0.000001l0,0z" id="svg_10"/>
    <path stroke="null" d="m76.142505,10.787497c-2.032941,0.225024 -3.522666,1.512004 -3.979461,3.434579c-0.115228,0.489526 -0.144035,1.342249 -0.061729,1.82388c0.193417,1.133017 0.769554,1.926522 1.732526,2.384466c0.518523,0.244763 0.909474,0.335562 1.588492,0.359249c2.432122,0.094748 4.366296,-1.397518 4.827206,-3.722768c0.201648,-1.022478 0.094651,-1.906783 -0.316875,-2.68055c-0.22634,-0.422413 -0.7819,-0.963262 -1.209887,-1.176441c-0.744863,-0.371092 -1.662566,-0.521108 -2.580271,-0.422413l0,-0.000001l0,0zm1.172851,1.654125c0.440334,0.157912 0.744863,0.525057 0.855976,1.022478c0.074075,0.335562 0.057613,0.990896 -0.041153,1.440944c-0.246917,1.164598 -0.897127,1.989687 -1.777794,2.246293c-0.403296,0.114486 -0.93828,0.090799 -1.283962,-0.063165c-0.687249,-0.300033 -0.983549,-0.963262 -0.884781,-1.973895c0.139919,-1.413309 0.897127,-2.475265 1.94652,-2.731872c0.300415,-0.075008 0.893013,-0.043426 1.185196,0.059217l-0.000001,-0.000001l0,0z" id="svg_11"/>
    <path stroke="null" d="m89.903949,10.771706c-1.201657,0.165808 -1.954751,0.513212 -2.724305,1.255397c-0.687249,0.667177 -1.139929,1.500161 -1.370383,2.530535c-0.098766,0.442152 -0.102882,1.389622 -0.004115,1.815984c0.288068,1.263293 1.139929,2.037061 2.555579,2.337093c0.407411,0.082903 1.362153,0.110538 1.921829,0.051322c0.485601,-0.051322 1.222233,-0.213181 1.576146,-0.347406l0.205764,-0.075008l0.15638,-0.761924c0.08642,-0.418466 0.148149,-0.765872 0.135804,-0.777715c-0.008231,-0.011843 -0.267492,0.07106 -0.572021,0.181598c-0.765439,0.276346 -1.148158,0.363197 -1.736641,0.386883c-1.436228,0.059217 -2.251049,-0.540847 -2.353931,-1.737028l-0.024691,-0.30398l2.839532,0l2.839532,0l0.094651,-0.734289c0.102882,-0.825088 0.098766,-1.480421 -0.016461,-1.890992c-0.251031,-0.888253 -0.950627,-1.539639 -1.921829,-1.792297c-0.47737,-0.126329 -1.218118,-0.189494 -1.600837,-0.138172l-0.000003,-0.000001l0,-0.000001zm0.674903,1.456735c0.53087,0.106591 0.831283,0.382936 0.958856,0.87641c0.057613,0.213181 0.057613,0.288189 0.020576,0.422413c-0.028807,0.086852 -0.074075,0.244763 -0.102882,0.347406l-0.049383,0.189494l-1.695488,0c-1.0782,0 -1.699604,-0.015791 -1.699604,-0.039477c0,-0.019739 0.045268,-0.157912 0.102882,-0.30398c0.465024,-1.18039 1.353922,-1.71729 2.465044,-1.492266z" id="svg_12"/>
    <path stroke="null" d="m98.118017,10.787497c-2.292202,0.252658 -3.839542,1.85941 -4.065881,4.220189c-0.152264,1.594908 0.452679,2.862149 1.62553,3.418788c0.646097,0.30398 0.893013,0.351353 1.921829,0.351353c0.925934,0 1.18108,-0.031583 1.604953,-0.205285l0.185187,-0.075008l0.15638,-0.761924c0.08642,-0.414518 0.148149,-0.765872 0.135804,-0.777715c-0.012345,-0.011843 -0.283953,0.039477 -0.609059,0.110538c-0.510293,0.114486 -0.662557,0.130278 -1.144044,0.130278c-0.481486,0 -0.588483,-0.011843 -0.786016,-0.086852c-0.489717,-0.185547 -0.839514,-0.647437 -0.942396,-1.235659c-0.065844,-0.363197 -0.032922,-1.239606 0.057613,-1.55543c0.037038,-0.130278 0.152264,-0.406622 0.259262,-0.611907c0.366259,-0.698759 0.967087,-1.164598 1.728412,-1.326458c0.246917,-0.051322 0.427988,-0.059217 0.85186,-0.043426c0.559676,0.023687 0.835399,0.075008 1.115236,0.217128l0.168726,0.078956l0.23457,-0.769819c0.131689,-0.426362 0.22634,-0.781662 0.218109,-0.793507c-0.032922,-0.031583 -0.63375,-0.16186 -1.032931,-0.225024c-0.47737,-0.075008 -1.271617,-0.102642 -1.683143,-0.059217l-0.000001,0.000001z" id="svg_13"/>
   </g>
   <g stroke="null" id="svg_2">
    <path stroke="#ff0000" fill="#fec133" transform="translate(1,0) scale(0.03999999910593033) " class="layoutfill" id="path2983" d="m306.82749,18.066025c-162.38425,0 -294.451371,132.032341 -294.451371,294.41658c0,162.384239 132.067121,294.451371 294.451371,294.451371c162.384239,0 294.347019,-132.067133 294.347019,-294.451371c0,-162.384239 -131.96278,-294.41658 -294.347019,-294.41658zm0,36.767286c142.532538,0 257.684085,115.116755 257.684085,257.649293c0,142.415951 -114.96512,257.495926 -257.336236,257.684085l125.954924,-220.395025l72.351893,0l42.298036,-72.351904l-199.246001,0l-42.298036,72.351904l84.596072,0l-124.18091,217.299196c-123.398211,-19.234222 -217.577473,-125.72221 -217.577473,-254.588256c0,-113.902099 73.574459,-210.294563 175.870772,-244.43116l-120.180679,209.368317l-40.071831,72.351904l198.132904,0l42.298036,-72.351904l-158.061085,0l126.581051,-220.499378c10.86009,-1.389866 21.941208,-2.087073 33.184476,-2.087073l0,0.000001l0,0z"/>
   </g>
  </g>
 </g>
</svg>
                <div style="float:right">
                    <div><i style="margin: 3px;" class="fa fa-bolt" aria-hidden="true"></i> Powered by </div>
                </div>
            </div>
        </div>
    </footer>
    <div page-loader-spin-all ng-show="isFetchingData"></div>
    <div resize></div>
   
    <!-- ALL SCRIPTS-->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-carousel/angular-touch.min.js"></script>
    <script src="../bower_components/angular-carousel/angular-carousel.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="../bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="../bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-loader/angular-loader.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    <!--<script src="../non_bower_components/angular-grid/angular-grid.js"></script>-->

    <script src="../bower_components/mb-scrollbar/mb-scrollbar.min.js"></script>
    <script src="../non_bower_components/ag-grid/dist/ag-grid.js"></script>
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/c3/c3.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/handsontable/dist/handsontable.full.js"></script>
    <script src="../non_bower_components/angular-multi-select/angular-multi-select.min.js"></script>
    <script src="../bower_components/intro.js/minified/intro.min.js"></script>
    <script src="../non_bower_components/ng-input-tag/ng-tags-input.js"></script>
    <script src="../bower_components/angular-intro.js/build/angular-intro.min.js"></script>
    <script src="../bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="../bower_components/vis/dist/vis.js"></script>
    <script src="../bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="../CustomJS/iconMapping.js"></script>
    <script src="../bower_components/jqcloud2/dist/jqcloud.js"></script>
    <script src="../bower_components/jqcloud2/dist/angular-jqcloud.js"></script>
    <script src="../bower_components/cal-heatmap/cal-heatmap.js"></script>
    <script src="../bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="../bower_components/angular-slick-carousel/src/slick.min.js"></script>
    <script src="../bower_components/angular-slick-carousel/dist/angular-slick.js"></script>
    <script src="../bower_components/ng-csv/build/ng-csv.js"></script>
    <script src="../bower_components/angular-daterangepicker/daterangepicker.min.js"></script>
    <script src="../bower_components/angular-daterangepicker/angular-daterangepicker.min.js"></script>



    <script src="../CustomJS/general.js"></script>
    <script src="../CustomJS/app.js"></script>
    <script src="../CustomJS/Layout.js"></script>


    <script src="../CustomJS/filters/filters.js"></script>
    <script src="../CustomJS/services/services.js"></script>
    <script src="../CustomJS/directives/directive.js"></script>
    <script src="../CustomJS/controllers/master.js"></script>
    <script src="../CustomJS/controllers/dashboardlist.js"></script>
    <script src="../CustomJS/controllers/kpiListCtrl.js"></script>


    <script src="../CustomJS/controllers/settings/dashboardSettings.js"></script>

    <script src="../CustomJS/controllers/kpi/agingReportCtrl.js"></script>
    <script src="../CustomJS/controllers/kpi/respResTrndCtrl.js"></script>
    <script src="../CustomJS/controllers/kpi/scoreCardCtrl.js"></script>
    <script src="../CustomJS/controllers/kpi/incCompCtrl.js"></script>
    <script src="../CustomJS/controllers/kpi/respResExcPerCtrl.js"></script>
    <script src="../CustomJS/controllers/kpi/pareChartCtrl.js"></script>
    <script src="../CustomJS/controllers/kpi/pareTableCtrl.js"></script>
    <script src="../CustomJS/controllers/kpi/treeMapping.js"></script>
    <script src="../CustomJS/controllers/kpi/wordCloud.js"></script>
    <script src="../CustomJS/controllers/kpi/heatmap.js"></script>
    <script src="../CustomJS/controllers/kpi/dayheatmap.js"></script>



    <script src="../CustomJS/controllers/modals/LoginController.js"></script>
    <script src="../CustomJS/controllers/modals/widgetModalCtrl.js"></script>
    <script src="../CustomJS/controllers/modals/dashBoardModalCtrl.js"></script>
    <script src="../CustomJS/controllers/modals/dashBoardModalCloneCtrl.js"></script>
    <script src="../CustomJS/controllers/modals/searchIconCtrl.js"></script>
    <script src="../CustomJS/controllers/modals/deleteModalCtrl.js"></script>
    <script src="../CustomJS/controllers/modals/zoomModalCtrl.js"></script>

    <script src="../CustomJS/controllers/agGridCtrl.js"></script>
    <script src="../CustomJS/controllers/filterCtrls.js"></script>
    <script src="../CustomJS/controllers/requestDrillDownCtrl.js"></script>
    <script src="../CustomJS/controllers/queryBuilderCtrl.js"></script>
    <script src="../CustomJS/controllers/admin/adminCtrl.js"></script>
    <script src="../CustomJS/controllers/admin/baseKpiColMapCtrl.js"></script>
    <script src="../CustomJS/controllers/admin/masterColMapCtrl.js"></script>



    <noscript>
        <div style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: #f2efe9;z-index:999999;">
            <div class="no-script-message">
                For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank">instructions how to enable JavaScript in your web browser</a>
            </div>
        </div>
    </noscript>
</body>

</html>