
<style>
.videoPlayer {

margin: 0;
    padding: 0;
    width: 100%;
	}
</style>
<div class="modal-header {{TIClr}}" >
    <h3 class="modal-title"> SeeIT Video Walk Through</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">        
		<i class="fa fa-close {{ATClr}} theme-text" aria-hidden="true"></i>
    </div>
</div>
<video  autoplay   width="100%" controls poster="../../../MosaicGovernanceDashboard/Media/dark/1.jpg" class="videoPlayer"> 
		<source src="../../../MosaicGovernanceDashboard/Media/video.webm" type="video/webm">
		<source src="../../../MosaicGovernanceDashboard/Media/video.ogg" type="video/ogg">
		<source src="../../../MosaicGovernanceDashboard/Media/SeeITDemo.mp4" type='video/mp4' />		

</video>
