﻿.forWhom {
    border-bottom: 1px solid #595959;
    display: block;
    font-family: 'Segoe UI',Roboto,Helvetica,Sans-Serif;
    font-size: 100%;
    height: 25px;
    line-height: 20px;
    padding: 5px 15px;
}

.myTilesL {
    width: 98%;
    margin: 10px 1%;
}

.myTilesS {
    width: 31%;
    margin: 10px 0.9%;
    float: left;
    height: 320px;
}

.mytimeline {
    width: 100%;
    margin: 10px 0 0 0;
}

div.timeline-frame {
    border-radius: 0;
    border-top: 1px solid #BEBEBE;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.chart4Groups, .chart4Status, .chart4TimeSplit, .pieDiv, .chart4Time {
    height: 250px;
}

.rightAlign {
    text-align: right;
    margin-right: 5px;
}

.infoLabel {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #888888 !important;
    font-size: 100%;
}

.infoLabelDash {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #C0C0C0 !important;
    font-size: 100%;
}

.infoData {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 100%;
    font-weight: 500;
}

    .infoData.infoSummary,.infoData.infoStatus {
        width: 60%;
    }

.myTilesL > .row {
    padding: 5px;
}

.theme-text.timeline-event-selected.ui-state-active {
    background-color: #FFF785 !important;
    border-color: #FFC200 !important;
    color: #1A1A1A !important;
    display: inline-block;
}

.spantimelineHighlightUser, .spantimelineHighlightPriority, .spantimelineHighlightStatus, .spantimelineHighlightEvents, .spantimelineHighlightLog, .spantimelineHighlightTime, .spantimelineShowMinor, .spantimelineShowMajor, .spantimelineHighlightGroup, .spantimelineShowAll {
    cursor: pointer;
    vertical-align: middle;
}

.inlineElemL {
    width: 40%;
    display: inline-block;
}

.inlineElemR {
    width: 65%;
    display: inline-block;
}

.inlineElemRFull {
    width: 100%;
    display: inline-block;
}

.teamReset, .statusReset, .AnalysisReset, .TimeReset {
    margin: 5px;
    padding: 2px 8px;
    display: inline-block;
    cursor: pointer;
}

.DisableColor {
    color: #C0C0C0 !important;
    background-color: transparent !important;
    cursor: not-allowed !important;
}

.darkTheme > .myTileArea > .myTileEvents > .mytimeline > .timeline-frame > .timeline-content > div > .timeline-axis-grid-minor {
    border-color: #1A1A1A;
}

.darkTheme > .myTileArea > .myTileEvents > .mytimeline > .timeline-frame > .timeline-content > div > .timeline-axis-grid-major,
.lightTheme > .myTileArea > .myTileEvents > .mytimeline > .timeline-frame > .timeline-content > div > .timeline-axis {
    border-color: #404040;
}

.lightTheme > .myTileArea > .myTileEvents > .mytimeline > .timeline-frame > .timeline-content > div > .timeline-axis-grid-minor {
    border-color: #E5E5E5;
}

.lightTheme > .myTileArea > .myTileEvents > .mytimeline > .timeline-frame > .timeline-content > div > .timeline-axis-grid-major,
.lightTheme > .myTileArea > .myTileEvents > .mytimeline > .timeline-frame > .timeline-content > div > .timeline-axis {
    border-color: #BFBFBF;
}

.ui-autocomplete {
    background-color: #4B4B4B;
    max-height: 600px;
    overflow: auto;
}

ul.ui-autocomplete li > a {
    color: #ffffff;
}

ul.ui-autocomplete li > .a.ui-state-focus {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

g.bar rect {
    cursor: pointer;
}

.ui-autocomplete.ui-menu {
    z-index: 2001 !important;
}

.timeline-axis-grid.timeline-axis-grid-major, .timeline-axis-grid.timeline-axis-grid-minor{
    border-color:#777;
    opacity:0.25;
}

.HighRes {
    width:32%;
    display:inline-block;
}

.LowRes:nth-of-type(2n+1) {
    margin-right:2%;
    margin-bottom:20px;
    display:inline-block;
}

.chartDiv .HighRes:nth-child(1),.chartDiv .HighRes:nth-child(2) {
    margin-right:1%;
    display:inline-block;
    margin-bottom:20px;
}

div.timeline-event-content {
    font-size: 100%;
}
