.container-settings{     z-index: 1;
    position: relative;}

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
}

.dark  .nav-justified {
     background-color: #303d48;
    border: 1px solid #5a646d;
}
.nav-justified>li {
    display: table-cell;
    width: 1%;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  border-left: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.dark  .nav-justified > li > a {
   color: #bdbdbd;
	 border-left: 1px solid #5a646d;
  border-bottom: 1px solid #5a646d;
}
.nav-justified   a:hover,
.nav-justified> a:focus {
  background-color: #dedede  !important;
  background-image: none;
}

.dark  .nav-justified   a:hover,
.dark  .nav-justified> a:focus {
  background-color: #495865   !important;
  background-image: none;
   color: #fff;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ffffff;
  background-image: none;
}
.dark .nav-justified > .active > a,
.dark .nav-justified > .active > a:hover,
.dark .nav-justified > .active > a:focus {
  background-color: #3e4c58;
  background-image: none;
     color: #fff;
}

.nav-justified > li:last-child > a {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
   
    
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}


.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
}



.tile_count .tile_stats_count {
   text-align:center;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.tile_count .tile_stats_count span {
    font-size: 13px;
}

.tile_count .tile_stats_count .count {
    font-size: 40px;
}
.tile_count .tile_stats_count .count-sm {
    font-size: 30px;
}
.tile_count .tile_stats_count span {
    font-size: 13px;
}
.panel-lsp {     background-color: rgba(255,255,255,0.3);
    border: 1px solid #d4d4d4;}


.dashsep{   border-bottom: 1px solid #ADB2B5;}
@media (min-width: 992px){

.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}
.tile_count .tile_stats_count:first-child:before {
    border-left: 0;
}
.tile_count .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px;
}
}

